{% extends "teacher/base.html" %}

{% block headercontent %}
    {% include "./layout/header.html" %} 
{%  endblock %}

{% block content %}
    {% load static %}

    <div class="mdk-box bg-primary mdk js-mdk-box mb-0" style="background-color:darkslateblue !important;" data-effects="blend-background">
        <div class="mdk-box__content">
            <div class="py-64pt text-center text-sm-left">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-white text-shadow">Teacher's FAQs</h1>
                    <p class="lead text-white-50 measure-lead-max">Measure your skill to find out where to start.</p>
                </div>
            </div>
        </div>
    </div>


    <div class=" page__container page-section">

        

        <div class="page-section">


            <div class="columns">
                <div class="column is-6">
                    <h5>Introduction to HTML5</h5>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Introduction to HTML5</h5>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <h5>Introduction to HTML5</h5>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom: 15px;" class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                        <div class="accordion__item">
                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                <span class="flex">When i will get my money?</span>
                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                            </a>
                            <div class="accordion__menu collapse" id="course-toc-1">
                                <div class="accordion__menu-link">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius voluptatem, dolore, aut enim non consectetur sunt dicta repudiandae ea accusantium, vel quos omnis eum commodi quod rem repellendus atque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            


        </div>

        

    </div>


{%  endblock %}