{% extends "teacher/base.html" %}

{% block headercontent %}
{% include "./layout/header.html" %} 
{%  endblock %}

{% block content %}
    {% load static %}

            <div class="mdk-box bg-primary mdk js-mdk-box mb-0" style="background-color:darkslateblue !important;" data-effects="blend-background">
                <div class="mdk-box__content">
                    <div class="py-64pt text-center text-sm-left">
                        <div class="container d-flex flex-column justify-content-center align-items-center">
                            <h1 class="text-white text-shadow">Taacher's Guidline</h1>
                            <p class="lead text-white-50 measure-lead-max">Measure your skill to find out where to start.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="border-left-2 page-section pl-32pt">
    
                            <div class="d-flex align-items-center page-num-container">
                                <div class="page-num">1</div>
                                <h4>Getting Started With Angular</h4>
                            </div>
    
                            <p class="text-70 mb-24pt">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
    
                                <div class="d-flex align-items-center page-num-container">
                                    <div class="page-num">2</div>
                                    <h4>Creating and Communicating Between Angular Components</h4>
                                </div>
                                <p class="text-70 mb-24pt">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                    Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                    <div class="d-flex align-items-center page-num-container">
                                        <div class="page-num">2</div>
                                        <h4>Creating and Communicating Between Angular Components</h4>
                                    </div>
                                    <p class="text-70 mb-24pt">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                        Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                        <div class="d-flex align-items-center page-num-container">
                                            <div class="page-num">2</div>
                                            <h4>Creating and Communicating Between Angular Components</h4>
                                        </div>
                                        <p class="text-70 mb-24pt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                            Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                            <div class="d-flex align-items-center page-num-container">
                                                <div class="page-num">2</div>
                                                <h4>Creating and Communicating Between Angular Components</h4>
                                            </div>
                                            <p class="text-70 mb-24pt">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                                Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                                <div class="d-flex align-items-center page-num-container">
                                                    <div class="page-num">2</div>
                                                    <h4>Creating and Communicating Between Angular Components</h4>
                                                </div>
                                                <p class="text-70 mb-24pt">
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                                    Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                                    <div class="d-flex align-items-center page-num-container">
                                                        <div class="page-num">2</div>
                                                        <h4>Creating and Communicating Between Angular Components</h4>
                                                    </div>
                                                    <p class="text-70 mb-24pt">
                                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                                        Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
                                                                                        
    
                        </div>
                    </div>
                </div>
            </div>
          

            <div class=" page__container page-section">

                

                <div class="page-section">





                   


                </div>

               

            </div>

{%  endblock %}