{% extends 'teacher/base.html' %} 

{% block head %} 
{% load static %}
<!-- Quill Theme -->
<link type="text/css" href="assets/css/quill.css" rel="stylesheet">


<!-- Select2 -->
<link type="text/css" href="assets/css/select2.css" rel="stylesheet">

<link type="text/css" href="assets/vendor/select2/select2.min.css" rel="stylesheet"> 
{% endblock %}

{% block content %}
<!-- Header -->
<div class="progress rounded-0" style="height: 4px;">
    <div class="progress-bar bg-primary" role="progressbar" style="width: 5%;" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<!-- // END Header -->
<div class="page-section border-bottom-2">
    <div class=" page__container">

        <div class="row">
            <div class="col-md-8">

                <div class="page-separator">
                    <div class="page-separator__text">Step 1</div>
                </div>


                <label class="form-label">Course Name
                    <b style="color: red;font-size: large;">*</b>
                </label>
                <div class="form-group mb-24pt">
                    <input type="text" class="form-control form-control-lg" style="font-size: medium;" placeholder="Course Name">
                    <small class="form-text text-muted">For Example: <a href="">Learn photoshop with css..</a></small>
                </div>



                <label class="form-label mt-1">Course description
                    <b style="color: red;font-size: large;">*</b>
                </label>

                <div style="height: 150px;" class="mb-0" data-toggle="quill" placeholder="hhh">

                </div>
                <small class="form-text text-muted">For Example: <a href="">This course about photoshop and it's new features..</a></small>


                <label class="form-label mt-4">Course Requirments
                    <b style="color: red;font-size: large;">*</b>
                </label>

                <div style="height: 150px;" class="mb-0" data-toggle="quill" placeholder="hhh">

                </div>
                <small class="form-text text-muted">For Example: <a href="">To take this course you need to know the basics at least..</a></small>


                <label class="form-label mt-4">Course Gains
                    <b style="color: red;font-size: large;">*</b>
                </label>

                <div style="height: 150px;" class="mb-0" data-toggle="quill" placeholder="hhh">

                </div>
                <small class="form-text text-muted">For Example: <a href="">At the end of this course you will be able to design photo..</a></small>

                <label class="form-label mt-4">This Course Include
                    <b style="color: red;font-size: large;">*</b>
                </label>

                <div class="card mb-lg-0 ">


                    <div class="card-body">
                        <ul class="list-unstyled list-todo" id="todo">
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Refactor HTML Markup To Be More SEO Friendly</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">Design A New Page In Sketch</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked="" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5">Quote the custom work</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked="" id="customCheck6">
                                    <label class="custom-control-label" for="customCheck6">Interview John for Full-Stack Developer</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked="" id="customCheck7">
                                    <label class="custom-control-label" for="customCheck7">Research the success of CRM</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header text-center">
                        <a href="#" class="btn btn-primary mr-4">Add course</a>
                        <a href="#" class="btn btn-accent">Save for later</a>
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item d-flex">
                            <a class="flex" href="#"><strong>Save Draft</strong></a>
                            <i class="material-icons text-muted">check</i>
                        </div>
                        <div class="list-group-item">
                            <a href="#" class="text-danger"><strong>Delete Course</strong></a>
                        </div>
                    </div>
                </div>

                <div class="page-separator">
                    <div class="page-separator__text">Main video or Picture</div>
                </div>

                <div class="card">
                    <a class="custom-file custom-file-naked d-flex" style="height:135px !important;background-color: #ccc;">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" style="color: inherit;margin-top: 50px;margin-left: 50%;" for="customFile">
                                <i class="material-icons" style="font-size: x-large !important;">add</i>
                            </label>
                    </a>
                    <div class="card-body">
                        <label class="form-label">URL</label>
                        <input type="text" class="form-control" style="cursor: not-allowed;" value="https://www.booctep.com/Elzubair_0001" placeholder="Enter Video URL" disabled>
                        <small class="form-text text-muted">This will be your URL for this course.</small>
                    </div>
                </div>

                <div class="page-separator">
                    <div class="page-separator__text">Options</div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Category</label>
                            <select name="category" class="form-control custom-select">
                                <option value="vuejs">Development</option>
                                <option value="vuejs">Business</option>
                                <option value="vuejs">Mathmatics</option>
                                <option value="vuejs">Music</option>
                                <option value="vuejs">Arts</option>
                                <option value="vuejs">Computer languages</option>
                                <option value="vuejs">Finicial</option>
                                <option value="vuejs">Aviation</option>
                                <option value="vuejs">Drama & cenima</option>
                                <option value="vuejs">Earth</option>
                                <option value="vuejs">Physical</option>
                                <option value="vuejs">sicology</option>
                                <option value="vuejs">Information Technology</option>
                                <option value="vuejs">Mobile</option>
                                <option value="vuejs">Maintaince</option>
                            </select>
                            <small class="form-text text-muted">Select a category.</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Sub categories</label>
                            <select name="category" class="form-control custom-select">
                                <option value="vuejs">php</option>
                                <option value="vuejs">html</option>
                                <option value="vuejs">css</option>
                                <option value="vuejs">java</option>
                                <option value="vuejs">java script</option>
                                <option value="vuejs">sass</option>
                                <option value="vuejs">React</option>
                                <option value="vuejs">Anglur</option>
                                <option value="vuejs">Vue js</option>
                                <option value="vuejs">JQuery</option>
                                <option value="vuejs">Python</option>
                                <option value="vuejs">C++</option>
                                <option value="vuejs">C#</option>
                            </select>
                            <small class="form-text text-muted">Select a category.</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Price</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group form-inline">
                                        <span class="input-group-prepend"><span class="input-group-text">$</span></span>
                                        <input type="text" class="form-control" value="24">
                                    </div>
                                </div>
                            </div>
                            <small class="form-text text-muted">The recommended price is between &dollar;10 and &dollar;15</small>
                        </div>
                        <div class="form-group mb-0">
                            <label class="form-label" for="select03">Tags</label>
                            <select id="select03" data-toggle="select" multiple class="form-control">
                                <option selected="">JavaScript</option>
                                <option selected="">Angular</option>
                                <option>Bootstrap</option>
                                <option>CSS</option>
                                <option>HTML</option>
                            </select>
                            <small class="form-text text-muted">Select tags will help you to get more students.</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<!-- Quill -->
<script src="assets/vendor/quill.min.js"></script>
<script src="assets/js/quill.js"></script>
<script>
    (function() {
        'use strict';

        // ENABLE sidebar menu tabs
        $('.js-sidebar-mini-tabs [data-toggle="tab"]').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $('.js-sidebar-mini-tabs').on('show.bs.tab', function(e) {
            $('.js-sidebar-mini-tabs > .active').removeClass('active')
            $(e.target).parent().addClass('active')
        })
    })()
</script>
{% endblock %}