{% extends "teacher/base.html" %}
{% block content %}
    {% load static %}


            <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary>
                <!-- Navbar toggler -->
                <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
                    <span class="material-icons">short_text</span>
                </button>

                <!-- Navbar Brand -->
                <a href="mini-index.html" class="navbar-brand mr-16pt d-lg-none">

                    <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                        <span class="avatar-title rounded bg-primary"><img src="{%static 'assets/images/illustration/teacher/128/white.svg' %}" alt="logo" class="img-fluid" /></span>

                    </span>

                    <span class="d-none d-lg-block">Luma</span>
                </a>



  





             


                <a href="../../student.0/dist/courses.html"><b style="position: absolute;top: 25px;right: 95px;color: rgb(63, 62, 62);">Student
                
                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" style="font-size: 18px">swap_horiz</i>
        </b></a>
    


                <div class="flex"></div>


 
        


                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false">
        
                        <span class="avatar avatar-sm mr-8pt2">
        
                            <span class="avatar-title rounded-circle" style="background-color: gray;">
                                <img src="/static/{{user.image}}" alt="" style="border-radius: 50%;">
                            </span>
        
                        </span>
        
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header"><strong>Elzubair Mohammed</strong></div>
                        <a class="dropdown-item" href="../../index.html">Back to Booctep</a>
                        <a class="dropdown-item" href="dashboard.html">dashboard</a>
                        <a class="dropdown-item" href="courses.html">My courses</a>
                        <a class="dropdown-item" href="messages.html">Messages</a>
                        <a class="dropdown-item" href="notifications.html">Notifications</a>
                        <a class="dropdown-item" style="color: red;" href="#">Logout</a>
                    </div>
                </div>
            </div>




            <div class="mdk-box bg-primary mdk js-mdk-box mb-0" style="background-color:darkslateblue !important;" data-effects="blend-background">
                <div class="mdk-box__content">
                    <div class="py-64pt text-center text-sm-left">
                        <div class="container d-flex flex-column justify-content-center align-items-center">
                            <h1 class="text-white text-shadow">Taacher's Guidline</h1>
                            <p class="lead text-white-50 measure-lead-max">Measure your skill to find out where to start.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="border-left-2 page-section pl-32pt">
    
                            <div class="d-flex align-items-center page-num-container">
                                <div class="page-num">1</div>
                                <h4>Getting Started With Angular</h4>
                            </div>
    
                            <p class="text-70 mb-24pt">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
    
                                <div class="d-flex align-items-center page-num-container">
                                    <div class="page-num">2</div>
                                    <h4>Creating and Communicating Between Angular Components</h4>
                                </div>
                                <p class="text-70 mb-24pt">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                    Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                    <div class="d-flex align-items-center page-num-container">
                                        <div class="page-num">2</div>
                                        <h4>Creating and Communicating Between Angular Components</h4>
                                    </div>
                                    <p class="text-70 mb-24pt">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                        Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                        <div class="d-flex align-items-center page-num-container">
                                            <div class="page-num">2</div>
                                            <h4>Creating and Communicating Between Angular Components</h4>
                                        </div>
                                        <p class="text-70 mb-24pt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                            Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                            <div class="d-flex align-items-center page-num-container">
                                                <div class="page-num">2</div>
                                                <h4>Creating and Communicating Between Angular Components</h4>
                                            </div>
                                            <p class="text-70 mb-24pt">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                                Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                                <div class="d-flex align-items-center page-num-container">
                                                    <div class="page-num">2</div>
                                                    <h4>Creating and Communicating Between Angular Components</h4>
                                                </div>
                                                <p class="text-70 mb-24pt">
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                                    Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
    
                                                    <div class="d-flex align-items-center page-num-container">
                                                        <div class="page-num">2</div>
                                                        <h4>Creating and Communicating Between Angular Components</h4>
                                                    </div>
                                                    <p class="text-70 mb-24pt">
                                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis et suscipit quia ipsam nisi illo vel recusandae ullam reprehenderit sequi consectetur quibusdam nostrum reiciendis, nihil consequuntur omnis amet, totam optio.
                                                        Data sharing is an essential concept to understand before diving into your first Angular project. In this section, you will learn four different methods for sharing data between Angular components.</p>
                                                                                        
    
                        </div>
                    </div>
                </div>
            </div>
          

            <div class=" page__container page-section">

                

                <div class="page-section">





                   


                </div>

               

            </div>

{%  endblock %}