{% extends "teacher/base.html" %}
{% block content %}
    {% load static %}




            <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary>
                <!-- Navbar toggler -->
                <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
                    <span class="material-icons">short_text</span>
                </button>

                <!-- Navbar Brand -->
                <a href="mini-index.html" class="navbar-brand mr-16pt d-lg-none">

                    <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                        <span class="avatar-title rounded bg-primary"><img src="{%static 'student/assets/images/illustration/student/128/white.svg' %}" alt="logo" class="img-fluid" /></span>

                    </span>

                    <span class="d-none d-lg-block">Luma</span>
                </a>







            <h4 style="margin-top:15px;margin-left:5px">Payments</h4>



                <a href="../../teacher.0/dist/dashboard.html"><b style="position: absolute;top: 25px;right: 95px;color: rgb(63, 62, 62);">Teacher
                
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" style="font-size: 18px">swap_horiz</i>
                </b></a>


             


                <div class="flex"></div>


 


                <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">



                    


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false">

                            <span class="avatar avatar-sm mr-8pt2">

                                <span class="avatar-title rounded-circle" style="background-color: gray;">
                                    <img src="/static/{{user.image}}" alt="" style="border-radius: 50%;">
                                </span>

                            </span>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="../../index.html">Back to Booctep</a>
                            <a class="dropdown-item" href="courses.html">My courses</a>
                            <a class="dropdown-item" href="quizes.html">My quizes</a>
                            <a class="dropdown-item" style="color: red;" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>




















            <div class=" page__container " style="margin-top: 0px;height: 100vh;">


                <div class="col-lg-8 p-6" style="margin-top: 25px;">
                    <div class="list-group list-group-form">
                        <div class="list-group-item d-flex align-items-center">
                            <img src="{%static 'student/assets/images/visa.svg' %}" alt="visa" width="38" class="mr-16pt">
                            <div class="flex">Your current payment method is <strong>Visa ending with 2819</strong></div>
                        </div>
                        <div class="list-group-item">
                            <div class="form-group row align-items-center mb-0">
                                <label class="col-form-label form-label col-sm-3">Card number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Credit / debit card number" />
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="form-group row align-items-center mb-0">
                                <label class="col-form-label form-label col-sm-3">Security code (CVV)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="CVV" style="width:80px">
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div role="group" aria-labelledby="label-expire_month" class="m-0 form-group">
                                <div class="form-row align-items-center">
                                    <label id="label-expire_month" for="expire_month" class="col-md-3 col-form-label form-label">Expiration date</label>
                                    <div class="col-md-9">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <select id="expire_month" class="form-control custom-select" style="width: 140px;">
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-auto">
                                                <select id="expire_year" class="form-control custom-select" style="width: 100px;">
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="form-group row align-items-center mb-0">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <a href="" class="btn btn-primary">Save changes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>



{%  endblock %}