{% extends "teacher/base.html" %}

{% block headercontent %}
    {% load static %}
    <!-- Navbar toggler -->
    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
        <span class="material-icons">short_text</span>
    </button>

    <!-- Navbar Brand -->
    <a href="mini-index.html" class="navbar-brand mr-16pt d-lg-none">

        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

            <span class="avatar-title rounded bg-primary"><img src="{%static 'assets/images/illustration/student/128/white.svg' %}" alt="logo" class="img-fluid" /></span>

        </span>

        <span class="d-none d-lg-block">Luma</span>
    </a>
{% endblock %}
{% block content %}
    {% load static %}


            <div class=" page__container page-section">




<div class="field">
  <div class="control">
    <div class="select">
      <select>
        <option>Course: Learn HTML5 and css with sass</option>
        <option>Course: Learn android studio</option>
        <option>Course: stack overflow right now</option>
      </select>
    </div>
  </div>
</div>
             


<div class="page-separator">
    <div class="page-separator__text">Top 10 students</div>
</div>

<div class="card mb-32pt">

    <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" data-lists-values='["js-lists-values-name", "js-lists-values-department", "js-lists-values-status", "js-lists-values-type", "js-lists-values-phone", "js-lists-values-date"]'>




        <table class="table mb-0 thead-border-top-0 table-nowrap">
            <thead>
                <tr>

                    <th style="width: 18px;" class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-toggle-check-all" data-target="#employees" id="customCheckAllemployees">
                            <label class="custom-control-label" for="customCheckAllemployees"><span class="text-hide">Toggle all</span></label>
                        </div>
                    </th>

                    <th>
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Name</a>
                    </th>


                    
                    <th style="width: 150px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-department">Correct Answer</a>
                    </th>

                    <th style="width: 48px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-status">Percentage</a>
                    </th>


                    <th style="width: 24px;"></th>
                </tr>
            </thead>
            <tbody class="list" id="employees">

                <tr>

                    <td class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-check-selected-row" id="customCheck1_employees1">
                            <label class="custom-control-label" for="customCheck1_employees1"><span class="text-hide">Check</span></label>
                        </div>
                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">


                                <span class="avatar-title rounded-circle">BN</span>

                            </div>
                            <div class="media-body">


                                <div class="d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <p class="mb-0"><strong class="js-lists-values-name">Billy Nunez</strong></p>
                                        <small class="js-lists-values-email text-50">annabell.kris@yahoo.com</small>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">22 Answers</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">98%</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>

                <tr>

                    <td class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-check-selected-row" id="customCheck1_employees1">
                            <label class="custom-control-label" for="customCheck1_employees1"><span class="text-hide">Check</span></label>
                        </div>
                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">


                                <span class="avatar-title rounded-circle">BN</span>

                            </div>
                            <div class="media-body">


                                <div class="d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <p class="mb-0"><strong class="js-lists-values-name">Billy Nunez</strong></p>
                                        <small class="js-lists-values-email text-50">annabell.kris@yahoo.com</small>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">22 Answers</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">98%</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>

                <tr>

                    <td class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-check-selected-row" id="customCheck1_employees1">
                            <label class="custom-control-label" for="customCheck1_employees1"><span class="text-hide">Check</span></label>
                        </div>
                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">


                                <span class="avatar-title rounded-circle">BN</span>

                            </div>
                            <div class="media-body">


                                <div class="d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <p class="mb-0"><strong class="js-lists-values-name">Billy Nunez</strong></p>
                                        <small class="js-lists-values-email text-50">annabell.kris@yahoo.com</small>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">22 Answers</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">98%</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>

                <tr>

                    <td class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-check-selected-row" id="customCheck1_employees1">
                            <label class="custom-control-label" for="customCheck1_employees1"><span class="text-hide">Check</span></label>
                        </div>
                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">


                                <span class="avatar-title rounded-circle">BN</span>

                            </div>
                            <div class="media-body">


                                <div class="d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <p class="mb-0"><strong class="js-lists-values-name">Billy Nunez</strong></p>
                                        <small class="js-lists-values-email text-50">annabell.kris@yahoo.com</small>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">22 Answers</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">98%</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>



                <tr>

                    <td class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-check-selected-row" id="customCheck1_employees1">
                            <label class="custom-control-label" for="customCheck1_employees1"><span class="text-hide">Check</span></label>
                        </div>
                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">


                                <span class="avatar-title rounded-circle">BN</span>

                            </div>
                            <div class="media-body">


                                <div class="d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <p class="mb-0"><strong class="js-lists-values-name">Billy Nunez</strong></p>
                                        <small class="js-lists-values-email text-50">annabell.kris@yahoo.com</small>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">22 Answers</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-sm mr-8pt">
                            </div>
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong style="color: green;">98%</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer p-8pt">

        <ul class="pagination-list " style="font-size:small;margin-top: 15px !important;">
            <li><a class="pagination-previous">Previous</a></li>
             <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
             <li><span class="pagination-ellipsis">&hellip;</span></li>
             <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
             <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page" style="color:white">46</a></li>
             <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
             <li><span class="pagination-ellipsis">&hellip;</span></li>
             <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
             <li><a class="pagination-next">Next</a></li>
           </ul>

    </div>
    <!-- <div class="card-body bordet-top text-right">
15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
</div> -->


</div>
             

               

            </div>

{%  endblock %}