{% extends "base.html" %}

{% block content %}
{% load static %}


    <!-- Mobile Navbar -->
    <nav class="navbar mobile-navbar is-hidden-desktop" aria-label="main navigation">
        <!-- Brand -->
        <div class="navbar-brand">
            <a class="navbar-item2" href="/">
                <img class="mobile-logo" src="{%static 'assets/img/favicon.png' %}" alt="">
            </a>
    
    
            <div id="mobile-explorer-trigger" class="navbar-item is-icon">
                <a class="icon-link is-primary">
                    <i class="mdi mdi-apps"></i>
                </a>
            </div>
    
            <!-- Mobile menu toggler icon -->
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- Navbar mobile menu -->
        <div class="navbar-menu">
            <!-- Account -->
            <div class="navbar-item has-dropdown ">
                <div class="navbar-link">
                    <img src="{%static 'assets/img/man.jpg' %}" data-demo-src="{%static 'assets/img/avatars/jenna.png' %}" alt="">
                    <span class="is-heading">Elzubair Mohammed</span>
                </div>
    
                <div class="navbar-item">
                    <div id="global-search" class="control">
                        <input id="tipue_drop_input" class="input " type="text" placeholder="Search" required>
                        <span id="clear-search" class="reset-search">
                            <i data-feather="x"></i>
                        </span>
                        <span class="search-icon">
                            <i data-feather="search"></i>
                        </span>
                
                
                    </div>
                
                </div>
                
                <!-- Mobile Dropdown -->
                <div class="navbar-dropdown">
                    <a href="#" class="navbar-item is-flex is-mobile-icon">
                        <span><i data-feather="user"></i>Profile</span>
                    </a>
                    <a href="#" class="navbar-item is-flex is-mobile-icon">
                        <span><i data-feather="shopping-cart"></i>Cart</span>
                        <span class="menu-badge">3</span>
                    </a>
                    <a href="#" class="navbar-item is-flex is-mobile-icon">
                        <span><i data-feather="activity"></i>Feed</span>
                        <span class="menu-badge">87</span>
                    </a>
                    <a href="#" class="navbar-item is-flex is-mobile-icon">
                        <span><i data-feather="settings"></i>Settings</span>
                    </a>
                    <a href="#" class="navbar-item is-flex is-mobile-icon">
                        <span><i data-feather="hexagon"></i>Logout</span>
                    </a>
                    
                        <div class="buttons">
                          <a class="button second-button">
                            <p>Sign up</p>
                          </a>
                          <a class="button primary-button raised quickview-trigger process-button">
                            <p>Log in</p>
                          </a>
                        </div>


                </div>
            </div>
        </div>
    </nav>
    <!-- Mobile Navbar -->




    <div class="products-navigation" style="display: none;">
    </div>
        
    <!-- Section -->       
    <div id="shop-page" class="shop-wrapper">
    

    <div class="store-sections store-sections-2">

            
            <!--Products-->
            <div id="products-tab" class="store-tab-pane store-tab-pane-2 is-active" id="demo">
                
                <section class="hero is-small is-bold hero-about">
                    <div class="hero-body">
                      <div class="container">
        
                        <h1 class="booctep" data-shadow='Booctep'>Booctep</h1>
        
                        <h2 class="booctep-h2">
                          Booctep is a web design course that will keep you signed in the booming e-commerce and IT sectors. Our course teaches you everything you need to create practical and attractive web pages. As web designers become more in demand, you will definitely thank yourself for choosing this course.
                        </h2>
        
                      </div>
                    </div>
                  </section>
        
                
                <div class="view-wrapper" style="background-color: #fff;">
                    
                    
                    
                 
                    
                    <div id="landing-start" class="section landing-wrapper">
                        <div class="container">
                            <div class="made-with" style="margin-top: -130px;">
                                <div id="made-with-bulma" class="made-block">
                                    <div class="block-icon is-box-reveal">
                                        <img src="{%static 'assets/img/about/step1.png' %}" alt="" style="width: 90%;" >
                                    </div>
                                    <div class="block-title" style="border-bottom: 1px solid rgb(10, 70, 161);">
                                        <h3>+400,000 Students</h3>
                                    </div>
                                </div>
                                <div class="made-block">
                                    <div class="block-icon is-box-reveal">
                                        <img src="{%static 'assets/img/about/step3.png' %}" alt="" style="width: 90%;" >
                                    </div>
                                    <div class="block-title" style="border-bottom: 1px solid rgb(10, 70, 161);">
                                        <h3>+19,000 Courses </h3>
                                    </div>
                                </div>
                                <div class="made-block">
                                    <div class="block-icon is-box-reveal">
                                        <img src="{%static 'assets/img/about/step2.png' %}" alt="" style="width: 90%;" >
                                    </div>
                                    <div class="block-title" style="border-bottom: 1px solid rgb(10, 70, 161);">
                                        <h3>+10,000 Quizzes</h3>
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                    </div>
                    
                    
        
              
                   
                  <div class="section-about side-feature">
                      <div class="container">
                        <div class="columns"> 
                            <div class="column is-12 is-offset-5">
                                <h3>How it works!</h3>
                            </div>
                        </div>
                          <div class="columns">
                              <div class="column is-8 is-offset-2" style="border: 2px solid rgb(238, 238, 238);border-radius: 3px;-webkit-box-shadow: -1px 4px 9px 9px rgba(245,245,245,1);
                              -moz-box-shadow: -1px 4px 9px 9px rgba(245,245,245,1);
                              box-shadow: -1px 4px 9px 9px rgba(245,245,245,1);">
                                
                                <video poster="{%static 'assets/img/setting.jpg' %}" id="player" playsinline controls>
                                  <source src="{%static 'assets/img/vid/fortnite.webm" type="video/webm" />
                              
                                  <!-- Captions are optional -->
                                  <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
                              </video>
                              </div>
                          </div>
                      </div>
                  </div>

                    
                    <div class="section-about side-feature">
                        <div class="container">
                            <div class="columns is-vcentered" style="margin-bottom: 55px;">
                                <div class="column is-5 ">
                                    <h3>Many new courses</h3>
                                    <p>We have many courses from scratch to proffessional be more educated and join us now, we have up to 15 categories you can search what you want.</p>
                                </div>
                                <div class="column is-7">
                                    <img src="{%static 'assets/img/about/about-1.png' %}" class="booctep-2" alt="">
                                </div>
                            </div>
                            <div class="columns is-vcentered" style="margin-bottom: 55px;">
                                <div class="column is-6  is-hidden-mobile">
                                    <img src="{%static 'assets/img/download.png' %}" class="booctep-2" alt="">
                                </div>
                                <div class="column is-6">
                                    <h3>Take Quizzes</h3>
                                    <p>Take quizzes and get your certificate after you done the quize, easy dashboard to deal with it.</p>
                                </div>
                                <div class="column is-5 is-offset-1 is-hidden-desktop">
                                    <img src="{%static 'assets/images/illustrations/ui/layouts.png' %}" alt="">
                                </div>
                            </div>
                            <div class="columns is-vcentered" style="margin-bottom: 55px;">
                                <div class="column is-5 ">
                                    <h3>Learn what you love</h3>
                                    <p>We have many courses from scratch to proffessional be more educated and join us now, we have up to 15 categories you can search what you want.</p>
                                </div>
                                <div class="column is-7">
                                    <img src="{%static 'assets/img/about/about-3.png' %}" class="booctep-2" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                          

                    



                    

      
              
                    
                  <div class="section-about-feat side-feature" >
                    <div class="container">
                        <div class="columns">
                            <div class="column is-12 is-offset-4">
                                <h3 class="section-about-feat-h3">Booctep's Features</h3>
                            </div>
                        </div>
                      <div class="columns ">



                        <div class="card-features">


                                
                            

                            <div class="card-features-row card-features-1">
                                <div class="card-features-rro">
                                <i class="fa fa-universal-access card-features-i"></i>
                                <h3>Lifetime Access</h3>
                                <p>Access anytime you want one you enrol to any course.</p>
                            </div>
                        </div>


                              <div class="card-features-row card-features-2">
                                <div class="card-features-rro">
                                <i class="fa fa-award card-features-i"></i>
                                <h3>Get Certificate</h3>
                                <p>Get certificate when you finish your course.</p>
                                 </div>
                              </div>

                              <div class="card-features-row card-features-3">
                                <div class="card-features-rro">
                                <i class="fa fa-wallet card-features-i"></i>
                                <h3>Money Back</h3>
                                <p>Take your money back if you have a problem with the course.</p>
                              </div>
                            </div>


                              <div class="card-features-row card-features-4">
                                <div class="card-features-rro">
                                <i class="fa fa-project-diagram card-features-i"></i>
                                <h3>Easy Dashboard</h3>
                                <p>Easy dashboard to do your quizzes and watch your courses anytime you want.</p>
                              </div>
                            </div>

                            </div>  
                        </div> 
                        <div class="columns ">     


                        <div class="card-features">
                              <div class="card-features-row card-features-5">
                                <div class="card-features-rro">
                                <i class="fa fa-pencil-alt card-features-i"></i>
                                <h3>Quick Quizzes</h3>
                                <p>Take a very quick Quize before you get your certificate.</p>
                              </div>
                            </div>


                              <div class="card-features-row card-features-6">
                                <div class="card-features-rro">
                                <i class="fa fa-video card-features-i"></i>
                                <h3>Many Subjects</h3>
                                <p>we got many subjects in all major subjects in the world.</p>
                              </div>
                            </div>



                              <div class="card-features-row card-features-7">
                                <div class="card-features-rro">
                                <i class="fa fa-closed-captioning card-features-i"></i>
                                <h3>Video Translate</h3>
                                <p>We translate all English videos for our students.</p>
                              </div>
                            </div>


                              <div class="card-features-row card-features-8">
                                <div class="card-features-rro">
                                <i class="fa fa-smile card-features-i"></i>
                                <h3>Free courses</h3>
                                <p>From each 10 paid courses we have at least 1 course free.</p>
                            </div>
                        </div>


                        </div>

               
                      </div>
                    </div>
                </div>


                  
                <div class="section-about side-feature" style="margin-top:60px;margin-bottom: 30px;">
                  <div class="container">
                    <div class="columns">
                        <div class="column is-12 is-offset-5">
                            <h3>Meet our team</h3>
                        </div>
                        <div class="column">
                          
                        </div>
                    </div>
                    <div class="columns is-multiline icon-list">
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/elz.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Elzubair Mohammed </h4>
                              <p style="font-size: small;text-align: center;" class="has-text-centered">CEO - Founder of Booctep</p>
                          </div>
                      </div>
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/ahmed.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Ahmed Alhebshi</h4>
                              <p style="font-size: small;">Financial</p>
                          </div>
                      </div>
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/saleh.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Saleh Alaqil</h4>
                              <p style="font-size: small;">Human Resours</p>
                          </div>
                      </div>
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/helal.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Helal Mahdi</h4>
                              <p style="font-size: small;">Programmer</p>
                          </div>
                      </div>
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/ahmed-hatem.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Ahmed Hatim</h4>
                              <p style="font-size: small;">Accounting managemnt</p>
                          </div>
                      </div>
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/bander.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Bander Ali</h4>
                              <p style="font-size: small;">Markting</p>
                          </div>
                      </div>
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/ab.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Abdulrahman Mahdi</h4>
                              <p style="font-size: small;">Markting</p>
                          </div>
                      </div>
                      <div class="column is-3">
                          <div class="feature-icon has-text-centered">
                              <div class="icon-wrap is-icon-reveal">
                                <img src="{%static 'assets/img/team/bilal.png' %}" alt="" style="width:55px;height:55px;border-radius:50%;margin-bottom:10px">
                              </div>
                              <h4 style="font-weight: 500;">Bilal Ahmed Ali</h4>
                              <p style="font-size: small;">Designer</p>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              


        
            </div>

              
          

            </div>



        </div>

        <section class="hero is-small is-bold hero-become">
            <div class="hero-body">
                <div class="section-bec side-feature">
                    <h3 style="font-weight: 600;">How to become a teacher?</h3>
                    <a href="become.html" class="button">Take a quick Look</a>

                </div>
            </div>
          </section>    


    </div>
 
    


{% endblock %}
