{% load static %}
<!-- Title of website -->
<title>Booctep | Homepage</title>
<!-- Tab Logo -->
<link rel="icon" type="image/png" href="{%static 'assets/img/favicon.png' %}" />

<!-- Material Design Icons -->
<link type="text/css" href="{%static 'assets4/css/material-icons.css' %}" rel="stylesheet">

<!-- App CSS -->
<link type="text/css" href="{%static 'assets/css/sideb.css' %}" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">


<!-- CSS Style -->    
<link rel="stylesheet" href="{% static 'assets/css/bulma.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/core.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{%static 'assets/css/media.css' %}">
<!-- <link rel="stylesheet" href="{%static 'assets/css/dark.css' %}"> -->

<!-- Video Player And jQuery -->
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://cdn.plyr.io/3.5.10/plyr.js"></script>
<script src="https://cdn.plyr.io/3.5.10/plyr.polyfilled.js"></script>
<!-- Video Player And jQuery -->