
{% extends "student/base.html" %}
{% block content %}
    {% load static %}

    <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary>
        <!-- Navbar toggler -->
        <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
            <span class="material-icons">short_text</span>
        </button>

        <!-- Navbar Brand -->
        <a href="mini-index.html" class="navbar-brand mr-16pt d-lg-none">

            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                <span class="avatar-title rounded bg-primary"><img src="{%static 'student/assets/images/illustration/student/128/white.svg' %}" alt="logo" class="img-fluid" /></span>

            </span>

            <span class="d-none d-lg-block">Luma</span>
        </a>







    <h4 style="margin-top:15px;margin-left:5px">Account</h4>



        <a href="../../teacher.0/dist/dashboard.html"><b style="position: absolute;top: 25px;right: 95px;color: rgb(63, 62, 62);">Teacher
        
                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" style="font-size: 18px">swap_horiz</i>
        </b></a>


        


        <div class="flex"></div>





        <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">



            


            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false">

                    <span class="avatar avatar-sm mr-8pt2">

                        <span class="avatar-title rounded-circle" style="background-color: gray;">
                            <img src="{%static 'assets/img/man.jpg' %}" alt="" style="border-radius: 50%;">
                        </span>

                    </span>

                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="../../index.html">Back to Booctep</a>
                    <a class="dropdown-item" href="courses.html">My courses</a>
                    <a class="dropdown-item" href="quizes.html">My quizes</a>
                    <a class="dropdown-item" style="color: red;" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class=" page__container " style="margin-bottom: 35px;">

        <div class="col-md-6 pt-3">
            <div class="form-group">
                <label class="form-label">Your photo</label>
                <div class="media align-items-center">
                    <a href="" class="media-left mr-16pt">
                        <img src="{%static 'student/assets/images/people/110/guy-3.jpg' %}" style="border: 2px solid grey;" alt="people" width="56" class="rounded-circle" />
                    </a>
                    <div class="media-body">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group " style="margin-top: 25px !important;">
                <label class="form-label">First name</label>
                <input type="text" class="form-control" value="Elzubair" placeholder="write your first name...">
                <small class="form-text text-muted">write your first name.</small>
            </div>
            <div class="form-group " style="margin-top: 15px !important;margin-bottom: 15px;">
                <label class="form-label">Last name</label>
                <input type="text" class="form-control" value="Mohammed" placeholder="write your last name...">
                <small class="form-text text-muted">write your last name.</small>
            </div>
            <div class="form-group " style="margin-top: 5px !important;margin-bottom: 25px;">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" value="alzober1414@gmail.com" placeholder="write your last name...">
                <small class="form-text text-muted">Enter your Email.</small>
            </div>
            
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Send notifications to me!</label>
                    <small class="form-text text-muted">send Emails to my email</small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

{%  endblock %}
