{% extends "student/base.html" %}
{% block content %}
    {% load static %}

            <div data-push data-responsive-width="768px" data-has-scrollable-region data-fullbleed class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content" data-perfect-scrollbar>



                    <div class="navbar border-bottom justify-content-start">
                        <a data-target="#email-drawer" data-toggle="sidebar" class="btn btn-sm btn-light"><i class="material-icons icon--left">tune</i> Inbox</a>
                        <a href="" class="btn btn-sm btn-light ml-8pt"><i class="material-icons icon--left">edit</i> Compose</a>
                    </div>
                    <div class="container page__container page-section">

                        <div class="d-flex align-items-center mb-3">
                            <a href="#" class="avatar avatar-sm mr-3">
                                <img src="{%static 'student/assets/images/256_rsz_1andy-lee-642320-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="flex">
                                <p class="m-0">
                                    <span class="d-flex align-items-center">
                                        <a href="#" class="text-dark-gray"><strong>Jenell D. Matney</strong></a>
                                        <small class="ml-auto text-muted">March 24</small>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <h1 class="h4 flex">Thank you for contacting XBody</h1>
                            <div class="d-flex align-items-center">
                                <a href="" class="text-dark-gray">
                                    <i class="material-icons">reply</i>
                                </a>
                                <a href="" class="text-dark-gray ml-2">
                                    <i class="material-icons">print</i>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="flex mr-3">
                                <p class="text-70 measure-paragraph-max">Dear Sean,<br><br>Thank you for contacting us, we are looking forward to talking to you and welcoming you in the XBody Family! <br><br>You have given us the following details in your message:</p>
                                <blockquote class="border-left-3 pl-3">
                                    <p class="text-50 measure-paragraph-max">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur inventore corporis maxime ipsum animi, quo voluptate hic, accusantium qui beatae assumenda praesentium exercitationem cum enim nobis cumque, voluptates nesciunt quibusdam.</p>
                                </blockquote>
                                <p class="text-70 measure-paragraph-max">Please do not respond to this email (you can reach us at: <a href="">sales@xbodyworld.com</a>), this is a confirmation reply to let you know we have successfully received your message and forwarded it to our team. <br><br>
                                    One of our colleagues will try to contact you within two business days and answer any of your questions. <br><br>Kind regards,<br>Team XBody</p>
                            </div>
                            <div class="text-center ml-3">
                                <a href="" class="d-flex flex-column mb-3">
                                    <i class="material-icons">star</i>
                                    <small class="text-muted">Starred</small>
                                </a>

                                <a href="" class="d-flex flex-column">
                                    <i class="material-icons">attachment</i>
                                    <small class="text-muted">2 Attachments</small>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="mdk-drawer sub-layout-drawer js-mdk-drawer" data-align="start" id="email-drawer">
                    <div class="mdk-drawer__content ">
                        <div class="sidebar sidebar-left sidebar-light  o-hidden" data-perfect-scrollbar>

                            <div class="navbar">
                                <div class="search-form form-control-rounded search-form--light">
                                    <input type="text" class="form-control" placeholder="What are you looking for?" id="searchSample02">
                                    <button class="btn" type="button" role="button"><i class="material-icons">search</i></button>
                                </div>
                            </div>

                            <div class="list-group list-group-flush" style="position: relative; z-index: 0;">

                                <div class="list-group-item d-flex align-items-start bg-transparent">
                                    <div class="mr-3 d-flex flex-column align-items-center">
                                        <a href="#" class="avatar avatar-xs mb-2">
                                            <img src="{%static 'student/assets/images/256_daniel-gaffey-1060698-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="" class="text-muted"><i class="material-icons icon-16pt">star_border</i></a>
                                    </div>
                                    <div class="flex">
                                        <p class="m-0">
                                            <span class="d-flex align-items-center mb-1">
                                                <a href="#" class="text-dark-gray"><strong>Sherri J. Cardenas</strong></a>
                                                <small class="ml-auto text-muted">Today</small>
                                            </span>
                                            <span class="d-flex align-items-end">
                                                <span class="flex mr-3">
                                                    <strong class="text-body mb-1">When will Windows 11 come out?</strong><br>
                                                    <small class="text-muted" style="max-height: 2rem; overflow: hidden; position: relative; display: inline-block;">Answer: Never. There is no Windows 11. Microsoft does not have a team of pro...</small>
                                                </span>
                                                <a href="" class="d-flex align-items-center mb-1">
                                                    <small class="text-muted mr-1">2</small>
                                                    <i class="material-icons icon-16pt">attachment</i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="list-group-item d-flex align-items-start border-left-3 border-left-primary">
                                    <div class="mr-3 d-flex flex-column align-items-center">
                                        <a href="#" class="avatar avatar-xs mb-2">
                                            <img src="{%static 'student/assets/images/256_rsz_1andy-lee-642320-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                        </a>
                                        <a href=""><i class="material-icons icon-16pt">star</i></a>
                                    </div>
                                    <div class="flex">
                                        <p class="m-0">
                                            <span class="d-flex align-items-center mb-1">
                                                <a href="#" class="text-dark-gray"><strong>Jenell D. Matney</strong></a>
                                                <small class="ml-auto text-muted">March 24</small>
                                            </span>
                                            <span class="d-flex align-items-end">
                                                <span class="flex mr-3">
                                                    <strong class="text-body mb-1">Thank you for contacting XBody</strong><br>
                                                    <small class="text-muted" style="max-height: 2rem; overflow: hidden; position: relative; display: inline-block;">Dear Sean, Thank you for showing and interest in our products, we are looking forward to talking to you and welcoming you in the XBody Family ..</small>
                                                </span>
                                                <a href="" class="d-flex align-items-center mb-1">
                                                    <small class="text-muted mr-1">2</small>
                                                    <i class="material-icons icon-16pt">attachment</i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="list-group-item d-flex align-items-start bg-transparent">
                                    <div class="mr-3 d-flex flex-column align-items-center">
                                        <a href="#" class="avatar avatar-xs mb-2">
                                            <img src="{%static 'student/assets/images/256_jeremy-banks-798787-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="" class="text-muted"><i class="material-icons icon-16pt">star_border</i></a>
                                    </div>
                                    <div class="flex">
                                        <p class="m-0">
                                            <span class="d-flex align-items-center mb-1">
                                                <a href="#" class="text-dark-gray"><strong>Joseph S. Ferland</strong></a>
                                                <small class="ml-auto text-muted">March 23</small>
                                            </span>
                                            <span class="d-flex align-items-end">
                                                <span class="flex mr-3">
                                                    <strong class="text-body mb-1">Why Designing Your Own UI Style Guide System Matters</strong><br>
                                                    <small class="text-muted" style="max-height: 2rem; overflow: hidden; position: relative; display: inline-block;">Stories for Sean Todays highlights Why Designing Your Own Style Guide System Matters Before divind deep into desi...</small>
                                                </span>
                                                <a href="" class="d-flex align-items-center mb-1">
                                                    <small class="text-muted mr-1">2</small>
                                                    <i class="material-icons icon-16pt">attachment</i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="list-group-item d-flex align-items-start bg-transparent">
                                    <div class="mr-3 d-flex flex-column align-items-center">
                                        <a href="#" class="avatar avatar-xs mb-2">
                                            <img src="{%static 'student/assets/images/256_joao-silas-636453-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="" class="text-muted"><i class="material-icons icon-16pt">star_border</i></a>
                                    </div>
                                    <div class="flex">
                                        <p class="m-0">
                                            <span class="d-flex align-items-center mb-1">
                                                <a href="#" class="text-dark-gray"><strong>UX Collective</strong></a>
                                                <small class="ml-auto text-muted">Feb 28</small>
                                            </span>
                                            <span class="d-flex align-items-end">
                                                <span class="flex mr-3">
                                                    <strong class="text-body mb-1">How to hire UX Researchers</strong><br>
                                                    <small class="text-muted" style="max-height: 2rem; overflow: hidden; position: relative; display: inline-block;">How to hire UX Researchers &mdash; and more design links this week How to test the skills of a UX researcher...</small>
                                                </span>
                                                <a href="" class="d-flex align-items-center mb-1">
                                                    <small class="text-muted mr-1">2</small>
                                                    <i class="material-icons icon-16pt">attachment</i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="list-group-item d-flex align-items-start bg-transparent">
                                    <div class="mr-3 d-flex flex-column align-items-center">
                                        <a href="#" class="avatar avatar-xs mb-2">
                                            <img src="{%static 'student/assets/images/256_luke-porter-261779-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="" class="text-muted"><i class="material-icons icon-16pt">star_border</i></a>
                                    </div>
                                    <div class="flex">
                                        <p class="m-0">
                                            <span class="d-flex align-items-center mb-1">
                                                <a href="#" class="text-dark-gray"><strong>Elizabeth J. Ohara</strong></a>
                                                <small class="ml-auto text-muted">Feb 24</small>
                                            </span>
                                            <span class="d-flex align-items-end">
                                                <span class="flex mr-3">
                                                    <strong class="text-body mb-1">Business Analyst</strong><br>
                                                    <small class="text-muted" style="max-height: 2rem; overflow: hidden; position: relative; display: inline-block;"></small>
                                                </span>
                                                <a href="" class="d-flex align-items-center mb-1">
                                                    <small class="text-muted mr-1">2</small>
                                                    <i class="material-icons icon-16pt">attachment</i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="list-group-item d-flex align-items-start bg-transparent">
                                    <div class="mr-3 d-flex flex-column align-items-center">
                                        <a href="#" class="avatar avatar-xs mb-2">
                                            <img src="{%static 'student/assets/images/256_michael-dam-258165-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="" class="text-muted"><i class="material-icons icon-16pt">star_border</i></a>
                                    </div>
                                    <div class="flex">
                                        <p class="m-0">
                                            <span class="d-flex align-items-center mb-1">
                                                <a href="#" class="text-dark-gray"><strong>Kaci M. Langston</strong></a>
                                                <small class="ml-auto text-muted">Feb 22</small>
                                            </span>
                                            <span class="d-flex align-items-end">
                                                <span class="flex mr-3">
                                                    <strong class="text-body mb-1">Human Resources</strong><br>
                                                    <small class="text-muted" style="max-height: 2rem; overflow: hidden; position: relative; display: inline-block;"></small>
                                                </span>
                                                <a href="" class="d-flex align-items-center mb-1">
                                                    <small class="text-muted mr-1">2</small>
                                                    <i class="material-icons icon-16pt">attachment</i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

{%  endblock %}