{% extends "student/base.html" %}
{% block content %}
    {% load static %}



            <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary>
                <!-- Navbar toggler -->
                <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
                    <span class="material-icons">short_text</span>
                </button>

                <!-- Navbar Brand -->
                <a href="mini-index.html" class="navbar-brand mr-16pt d-lg-none">

                    <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                        <span class="avatar-title rounded bg-primary"><img src="{%static 'student/assets/images/illustration/student/128/white.svg' %}" alt="logo" class="img-fluid" /></span>

                    </span>

                    <span class="d-none d-lg-block">Luma</span>
                </a>







            <h4 style="margin-top:15px;margin-left:5px">Privacy</h4>



                <a href="../../teacher.0/dist/dashboard.html"><b style="position: absolute;top: 25px;right: 95px;color: rgb(63, 62, 62);">Teacher
                
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" style="font-size: 18px">swap_horiz</i>
                </b></a>


             


                <div class="flex"></div>


 


                <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">



                    


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false">

                            <span class="avatar avatar-sm mr-8pt2">

                                <span class="avatar-title rounded-circle" style="background-color: gray;">
                                    <img src="/static{{user.image}}" alt="" style="border-radius: 50%;">
                                </span>

                            </span>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="../../index.html">Back to Booctep</a>
                            <a class="dropdown-item" href="courses.html">My courses</a>
                            <a class="dropdown-item" href="quizes.html">My quizes</a>
                            <a class="dropdown-item" style="color: red;" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>




















            <div class=" page__container " style="margin-top: 15px;margin-bottom: 25px;">



                <div class="col-lg-8 d-flex align-items-center" style="">
                </div>
                
                <div class="col-md-7 pt-3">
                    
                    <div class="form-group">
                    
                        <div class="flex" style="max-width: 100%">
    
    
                            <div class="custom-control custom-checkbox-toggle custom-control-inline mr-1">
                                <input checked="" type="checkbox" id="subscribe" class="custom-control-input" style="font-size: x-small;">
                                <label class="custom-control-label" for="subscribe">Yes</label>
                            </div>
                            <label class="form-label mb-0" for="subscribe" style="margin-top: 15px;margin-left: 5px;">Display your real name on your profile</label>
                        
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Display your real name on your profile</label>
                            <small class="form-text text-muted">If unchecked, your profile name will be displayed instead of your full name.</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-accent">Delete Account</button>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>


        </div>

{% endblock %}