{% extends "student/base.html" %}

{% block headercontent %}
    {% load static %}
    <!-- Navbar toggler -->
    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
        <span class="material-icons">short_text</span>
    </button>

    <!-- Navbar Brand -->
    <a href="mini-index.html" class="navbar-brand mr-16pt d-lg-none">

        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

            <span class="avatar-title rounded bg-primary"><img src="{%static 'student/assets/images/illustration/student/128/white.svg' %}" alt="logo" class="img-fluid" /></span>

        </span>

        <span class="d-none d-lg-block">Luma</span>
    </a>
    <h4 style="margin-top:15px;margin-left:5px">My Quizes</h4>
{%  endblock %}
{% block content %}
    {% load static %}
            <!-- // END Header -->



            <div class="filter-head">
                <div class="card-header card-header-2 card-header-tabs-basic nav px-0 mb-3" role="tablist">
                    <a href="/quizes" class="" data-toggle="tab1" role="tab" aria-selected="true">All Quizes</a>
                    <a href="/quizes2" class="active" data-toggle="tab" role="tab" aria-selected="false">Archiev</a>
                </div>
            </div>    



            <div class=" page__container page-section">





                <div class="row card-group-row mb-lg-8pt">

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                    <div class="col-sm-3 card-group-row__col">

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <strong>Learn Html5 and sass with css..</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                                <div class="mb-24pt d-inline-flex flex-column text-center">
                                    <i class="material-icons text-50 icon-32pt">face</i>
                                    <div class="d-flex align-items-center">
                                        <h2 class="m-0">22 / 31</h2>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <div>
                                        <a href="" class="btn btn-accent mb-16pt">Reset</a>
                                    </div>
                                </div>
                                <div class="d-inline-flex">
                                    <p class="text-70 m-0"><strong>Questions: </strong></p>
                                    <div class="lh-1"><small class="text-50">31</small></div>
                                    <strong class="ml-1">-</strong>
                                    <p class="text-70 ml-1"><strong>Correct: </strong></p>
                                    <div class="lh-1"><small class="text-50">22</small></div>
                                </div>
                            </div>
                        </div>   

                    </div>
                    

                </div>

                <div class="mb-32pt">

                  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
   <li><a class="pagination-previous">Previous</a></li>
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page" style="color:white">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
    <li><a class="pagination-next">Next</a></li>
  </ul>
</nav>

                </div>
                

               

            </div>



{%  endblock %}