{% extends "student/base.html" %}

{% block headercontent %}
    {% load static %}
    <!-- Navbar toggler -->
    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
        <span class="material-icons">short_text</span>
    </button>

    <!-- Navbar Brand -->
    <a href="mini-index.html" class="navbar-brand mr-16pt d-lg-none">

        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

            <span class="avatar-title rounded bg-primary"><img src="assets/images/illustration/student/128/white.svg" alt="logo" class="img-fluid" /></span>

        </span>

        <span class="d-none d-lg-block">Luma</span>
    </a>

    <h4 style="margin-top:15px;margin-left:5px">Security</h4>

{% endblock %}
{% block content %}
    {% load static %}


            <div class=" page__container " style="margin-top: 0px;height: 100vh;">

                <div class="col-md-6 pt-3">

                    <div class="form-group " style="margin-top: 25px !important;">
                        <label class="form-label">Current Password</label>
                        <input type="password" class="form-control" placeholder="Enter password">
                        <small class="form-text text-muted">Enter your current password.</small>
                    </div>

                    <div class="form-group " style="margin-top: 25px !important;">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control" placeholder="Enter password">
                        <small class="form-text text-muted">Enter your New password.</small>
                    </div>

                    <div class="form-group " style="margin-top: 25px !important;">
                        <label class="form-label">Retype new Password</label>
                        <input type="password" class="form-control" placeholder="Enter password">
                        <small class="form-text text-muted">Retype your new password.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>

            </div>

        </div>

{%  endblock %}