{% load static %}
<!-- Start Carousel -->
<div class="top">
    <div class="container">

        <h2>Welcome Back Elzubair Mohammed,</h2>
        {% if user.group_id == 3 %}
            <a href="/teacher/courses"><strong>My courses</strong></a>
        {% else %}
            <a href="/courses"><strong>My courses</strong></a>
        {% endif %}
        
        <p>Continue learning now..</p>
        <div id="slider" class="slider">
            <div class="wrapper-1">
              <div id="slides" class="slides">
                <span class="slide">
                    <img src="{%static 'assets/img/become.jpg' %}"  alt="">

                    <div class="slide-footer">
                        <span class="survey-progress">
                            <span class="survey-progress-bg">
                              <span class="survey-progress-fg" style="width: 88%;"></span>
                            </span>
                            
                            <span class="survey-progress-labels">
                              <span class="survey-progress-label">
                                88%
                              </span>
                    
                              <span class="survey-completes">
                                490 / 500
                              </span>

                              
                            </span>
                            <a href="video.0/dist/playground.html" class="">Continue <i class="fa fa-arrow-right"></i></a>
                          </span>
                          
                    </div>
                </span>
                <span class="slide">
                    <img src="{%static 'assets/img/watch.svg' %}" alt="">

                    <div class="slide-footer">
                        <span class="survey-progress">
                            <span class="survey-progress-bg">
                              <span class="survey-progress-fg" style="width: 88%;"></span>
                            </span>
                            
                            <span class="survey-progress-labels">
                              <span class="survey-progress-label">
                                88%
                              </span>
                    
                              <span class="survey-completes">
                                490 / 500
                              </span>

                              
                            </span>
                            <a href="#" class="">Continue <i class="fa fa-arrow-right"></i></a>
                          </span>
                          
                    </div>
                </span>
                <span class="slide">
                    <img src="{%static 'assets/img/watch.svg' %}" alt="">

                    <div class="slide-footer">
                        <span class="survey-progress">
                            <span class="survey-progress-bg">
                              <span class="survey-progress-fg" style="width: 88%;"></span>
                            </span>
                            
                            <span class="survey-progress-labels">
                              <span class="survey-progress-label">
                                88%
                              </span>
                    
                              <span class="survey-completes">
                                490 / 500
                              </span>

                              
                            </span>
                            <a href="#" class="">Continue <i class="fa fa-arrow-right"></i></a>
                          </span>
                          
                    </div>
                </span>
                <span class="slide">
                    <img src="{%static 'assets/img/watch.svg' %}" alt="">

                    <div class="slide-footer">
                        <span class="survey-progress">
                            <span class="survey-progress-bg">
                              <span class="survey-progress-fg" style="width: 88%;"></span>
                            </span>
                            
                            <span class="survey-progress-labels">
                              <span class="survey-progress-label">
                                88%
                              </span>
                    
                              <span class="survey-completes">
                                490 / 500
                              </span>

                              
                            </span>
                            <a href="#" class="">Continue <i class="fa fa-arrow-right"></i></a>
                          </span>
                          
                    </div>
                </span>
              </div>
            </div>
            <a id="prev" class="control-1 prev"></a>
            <a id="next" class="control-1 next"></a>
          </div>
        </div>
    </div>
    <!-- End Carousel -->