{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="columns">
            <!-- Column -->
            <div class="column is-2">
                <div class="logo-footer">
                    <img src="/static/ar/assets/img/logo/booctepfooter-ar.png" alt="" >
                </div>
            </div>
            <!-- Column -->
            <div class="column is-6 is-offset-1">
                <div class="footer-columns columns" style="border-bottom: 1px solid rgb(226, 226, 226);">
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <div class="column" >
                                <a href="about.html" style="font-weight: 400;">عن بوستيب</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <div class="column" >
                                <a href="faqs.html" style="font-weight: 400;">الاسئلة الشائعة</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <div class="column" >
                                <a href="support.html" style="font-weight: 400;">مساعدة</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <div class="column" >
                                <a href="terms.html" style="font-weight: 400;">الشروط</a>
                            </div>
                        </ul>
                    </div>

                </div>
                <div class="footer-columns columns">
                    <!-- Column -->
                    <div class="column is-offset-2">
                        <ul class="footer-column " >
                            <div class="column" >
                                <a href="become.html" style="font-weight: 400;margin: 0 auto;">أصبح معلم</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <div class="column" >
                                <a href="signup.html" style="font-weight: 400;">دوراتي</a>
                            </div>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="column is-2 is-offset-1">
                

                <div class="control-language-parent">

                <div class="control-language is-combo">
                    <div class="combo-box">
                        <div class="box-inner">
                            <div class="combo-item">
                                <i class="combo-item-i fa fa-language"></i>
                                <span class="combo-item-span selected-item" selected="selected">عربي</span>
                            </div>
                        </div>
                        <div class="box-chevron">
                            <i data-feather="chevron-down" class="box-chevron-i"></i>
                        </div>
                        <div class="box-dropdown" id="directionSwitch">
                            <div class="dropdown-inner has-slimscroll">
                                <ul>
                                    <li >
                                       <a href="/" style="width: 100%; display: flex;">
                                            <span class="item-icon">
                                            </span>
                                            <span class="item-name translate"  class="" id="en">English</span>
                                            <span class="checkmark">
                                                <i data-feather="check"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="is-active">
                                        <a href="/ar" style="width: 100%; display: flex;">
                                            <span class="item-icon">
                                            </span>
                                            <span class="item-name translate" class="" id="ar">عربي</span>
                                            <span class="checkmark">
                                                <i data-feather="check"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                </div>


            </div>

        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <p> صمم بحب <span class="fa fa-heart" style="color: red;"></span>&nbsp; من مصممي بوستيب</p>
    </div>
</div> 
<!-- Footer --> 