{% extends "student/base2.html" %}
{% block content %}
    {% load static %}

            <div data-push data-responsive-width="768px" data-has-scrollable-region data-fullbleed class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content" data-perfect-scrollbar>


                    <div class="app-messages__container d-flex flex-column h-100 pb-4">
                        <div class="navbar navbar-light bg-white navbar-expand-sm navbar-shadow z-1" id="messages-navbar">
                            <div class="container-fluid flex-wrap px-sm-0">
                                <div class="nav py-2">
                                    <div class="nav-item d-flex align-items-center mr-3">
                                        <div class="mr-3">
                                            <div class="avatar avatar-online avatar-sm">
                                                <img src="{%static 'student/assets/images/people/110/woman-5.jpg' %}" alt="people" class="avatar-img rounded-circle">
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column" style="max-width: 200px; font-size: 15px">
                                            <strong class="text-body">Michelle Smith</strong>
                                            <span class="text-50 text-ellipsis">Personal Development Teacher since 2014</span>
                                        </div>

                                        <div class="" style="position: absolute;top: 15px;right: 25px;">
                                            <a href="#" class="btn btn-sm btn-light ml-8pt" data-toggle="swal" data-swal-title="Leave your rating here!" data-swal-text="*****" data-swal-type="warning" data-swal-show-cancel-button="true" data-swal-confirm-button-text="Add rating" data-swal-confirm-cb="#swal-confirm-delete" data-swal-close-on-confirm="false"><i class="material-icons icon--left">add</i> New Messages</a>
                                      



                                            <div id="swal-confirm-delete" class="d-none" data-swal-type="success" data-swal-title="Great!" data-swal-text="Your message has sent successfuly!"></div>

                                            <div id="swal-cancel-delete" class="d-none" data-swal-type="error" data-swal-title="Cancelled" data-swal-text="Your imaginary file is safe :)"></div>
                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-4" style="position: relative;" data-perfect-scrollbar>
                            <div class="container page__container page__container">
                               
                                <ul class="d-flex flex-column list-unstyled" id="messages">


                                    <li class="message d-inline-flex">
                                        <div class="message__aside">
                                            <a href="mini-profile.html" class="avatar avatar-sm">
                                                <img src="{%static 'student/assets/images/people/110/guy-6.jpg' %}" alt="people" class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="message__body card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex mr-3">
                                                        <a href="mini-profile.html" class="text-body"><strong>Laza Bogdan</strong></a>
                                                    </div>
                                                    <div>
                                                        <small class="text-50">1 hour ago</small>
                                                    </div>
                                                </div>
                                                <span class="text-70">Coming along nicely, we&#39;ve got a draft for the client design completed, take a look! 🤓</span>

                                                <a href="#" class="media align-items-center mt-2 text-decoration-0 px-3">
                                                    <span class="avatar mr-12pt">
                                                        <span class="avatar-title rounded-circle">
                                                            <i class="material-icons font-size-24pt">attach_file</i>
                                                        </span>
                                                    </span>
                                                    <span class="media-body" style="line-height: 1.5">
                                                        <span class="text-primary">draft.sketch</span><br>
                                                        <span class="text-50">5 MB</span>
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                    </li>

                                    <li class="message d-inline-flex">
                                        <div class="message__aside">
                                            <a href="mini-profile.html" class="avatar avatar-sm">
                                                <img src="{%static 'student/assets/images/people/110/woman-5.jpg' %}" alt="people" class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="message__body card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex mr-3">
                                                        <a href="mini-profile.html" class="text-body"><strong>Michelle</strong></a>
                                                    </div>
                                                    <div>
                                                        <small class="text-50">5 minutes ago</small>
                                                    </div>
                                                </div>
                                                <span class="text-70">Clients loved the new design.</span>

                                            </div>
                                        </div>
                                    </li>

                                    <li class="message d-inline-flex">
                                        <div class="message__aside">
                                            <a href="mini-profile.html" class="avatar avatar-sm">
                                                <img src="{%static 'student/assets/images/people/110/woman-5.jpg' %}" alt="people" class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="message__body card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex mr-3">
                                                        <a href="mini-profile.html" class="text-body"><strong>Michelle</strong></a>
                                                    </div>
                                                    <div>
                                                        <small class="text-50">5 minutes ago</small>
                                                    </div>
                                                </div>
                                                <span class="text-70">🔥 Superb job..</span>

                                            </div>
                                        </div>
                                    </li>

                                    <li class="message d-inline-flex">
                                        <div class="message__aside">
                                            <a href="mini-profile.html" class="avatar avatar-sm">
                                                <img src="{%static 'student/assets/images/people/110/guy-6.jpg' %}" alt="people" class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="message__body card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex mr-3">
                                                        <a href="mini-profile.html" class="text-body"><strong>Laza Bogdan</strong></a>
                                                    </div>
                                                    <div>
                                                        <small class="text-50">just now</small>
                                                    </div>
                                                </div>
                                                <span class="text-70">Glad it all worked out 😉</span>

                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="container page__container page__container">
                            <form action="#" id="message-reply">
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control form-control-appended" autofocus="" required="" placeholder="Type message">
                                    <div class="input-group-append">
                                        <div class="input-group-text pr-2">
                                            <button class="btn btn-flush" type="button"><i class="material-icons">tag_faces</i></button>
                                        </div>
                                        <div class="input-group-text pl-0">
                                            <div class="custom-file custom-file-naked d-flex" style="width: 24px; overflow: hidden;">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" style="color: inherit;" for="customFile">
                                                    <i class="material-icons">attach_file</i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



                <div class="mdk-drawer js-mdk-drawer" data-align="end" id="messages-drawer">
                    <div class="mdk-drawer__content top-0">
                        <div class="sidebar sidebar-right sidebar-light bg-white o-hidden">
                            <div class="d-flex flex-column h-100">
                              
                                
                                <div class="sidebar-heading" style="height: 40px;padding-top: 10px;">170 Messages</div>






                                <div class="flex" data-perfect-scrollbar>
                                    <ul class="list-group list-group-flush mb-3">


                                        <li class="list-group-item px-3 py-12pt bg-light">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-online mr-3 flex-shrink-0">

                                                    <img src="{%static 'student/assets/images/people/50/woman-5.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Michelle Smith</strong>

                                                    <span class="text-muted text-ellipsis">Personal Development Teacher Since 2014</span>

                                                </span>
                                            </a>
                                        </li>



                                        <li class="list-group-item px-3 py-12pt">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-online mr-3 flex-shrink-0">

                                                    <span class="avatar-title rounded-circle">AD</span>

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Andrew Brain</strong>

                                                </span>
                                            </a>
                                        </li>



                                        <li class="list-group-item px-3 py-12pt">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-online mr-3 flex-shrink-0">

                                                    <img src="{%static 'student/assets/images/people/50/guy-2.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Jimmy Carter</strong>

                                                </span>
                                            </a>
                                        </li>



                                        <li class="list-group-item px-3 py-12pt">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-online mr-3 flex-shrink-0">

                                                    <img src="{%static 'student/assets/images/people/50/woman-2.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Samantha Doe</strong>

                                                </span>
                                            </a>
                                        </li>


                                        <li class="list-group-item px-3 py-12pt bg-light">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-offline mr-3 flex-shrink-0">

                                                    <img src="{%static 'student/assets/images/people/50/guy-1.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Jarrod Forrest</strong>

                                                    <span class="text-muted text-ellipsis">Arts Teacher</span>

                                                </span>
                                            </a>
                                        </li>



                                        <li class="list-group-item px-3 py-12pt">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-offline mr-3 flex-shrink-0">

                                                    <img src="{%static 'student/assets/images/people/50/guy-3.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Ziva Ochoa</strong>

                                                </span>
                                            </a>
                                        </li>

                                        <li class="list-group-item px-3 py-12pt">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-offline mr-3 flex-shrink-0">

                                                    <span class="avatar-title rounded-circle">XD</span>

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Xander Dale</strong>

                                                </span>
                                            </a>
                                        </li>



                                        <li class="list-group-item px-3 py-12pt">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-offline mr-3 flex-shrink-0">

                                                    <img src="{%static 'student/assets/images/people/50/woman-1.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Beatriz Summers</strong>

                                                </span>
                                            </a>
                                        </li>



                                        <li class="list-group-item px-3 py-12pt">
                                            <a href="#" class="d-flex align-items-center position-relative">
                                                <span class="avatar avatar-xs avatar-offline mr-3 flex-shrink-0">

                                                    <img src="{%static 'student/assets/images/people/50/woman-3.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">

                                                </span>
                                                <span class="flex d-flex flex-column" style="max-width: 175px;">
                                                    <strong class="text-body">Cassie Wills</strong>

                                                </span>
                                            </a>
                                        </li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>    
{%  endblock %}

{% block script %}
    <script src="{%static 'student/assets/js/messages.js' %}"></script>
{% endblock %}