
{% extends "base.html" %}

{% block content %}
{% load static %}



    <div class="products-navigation" style="display: none;">
    </div>
        



    

    <div class="terms">

            



            <!-- Brands -->
            <div id="brands-tab" class="store-tab-pane is-active">
                   <!-- Timeline -->
    
                   <section class="hero is-small is-bold hero-faqs">
                    <div class="hero-body">
                      <div class="container">
            
                        <h1 class="booctep-1" data-shadow='Booctep'>FAQs</h1>
        
                        
                        
             
                        <h2 class="booctep-h2">Frequency Questions and answers</h2>
            
                      </div>
                    </div>
                  </section>

   
   


      


                  <div class="terms-page">
                    <div class="container">

                        <div class="columns">
                            <div class="column is-4 ">
                                
                                                                                                              
                                <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent" style="margin-top: 5px;">
                                    <div class="accordion__item" style="border: 1px solid #ccc;height: 100% !important;">
                                        <a href="#" style="background-color: rgb(240, 240, 240);border: 1px solid rgb(223, 223, 223);" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                            <span class="flex" style="font-size: small;">How signup works?</span>
                                        </a>
                                        <div class="accordion__menu collapse" id="course-toc-1">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit? Placeat sint ad, modi voluptate molestias iusto eos labore architecto quas excepturi doloremque enim iste, cupiditate quis. Voluptatum, iure quisquam!</p>
                                        </div>
                                    </div>  
                                </div>  
                                
                            </div>
                            <div class="column is-4 ">
                                
                                                                                                
                                <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent" style="margin-top: 5px;">
                                    <div class="accordion__item" style="border: 1px solid #ccc;height: 100% !important;">
                                        <a href="#" style="background-color: rgb(240, 240, 240);border: 1px solid rgb(223, 223, 223);" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                            <span class="flex" style="font-size: small;">How signup works?</span>
                                        </a>
                                        <div class="accordion__menu collapse" id="course-toc-1">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit? Placeat sint ad, modi voluptate molestias iusto eos labore architecto quas excepturi doloremque enim iste, cupiditate quis. Voluptatum, iure quisquam!</p>
                                        </div>
                                    </div>  
                                </div>  
                                
                            </div>
                            <div class="column is-4 ">
                                
                                                                                                
                                <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent" style="margin-top: 5px;">
                                    <div class="accordion__item" style="border: 1px solid #ccc;height: 100% !important;">
                                        <a href="#" style="background-color: rgb(240, 240, 240);border: 1px solid rgb(223, 223, 223);" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                            <span class="flex" style="font-size: small;">How signup works?</span>
                                        </a>
                                        <div class="accordion__menu collapse" id="course-toc-1">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit? Placeat sint ad, modi voluptate molestias iusto eos labore architecto quas excepturi doloremque enim iste, cupiditate quis. Voluptatum, iure quisquam!</p>
                                        </div>
                                    </div>  
                                </div>   
                                
                            </div>
                        </div>
    
    
                      </div>
                  </div>


        </div>

    </div>
 


             
    <!-- Login Modal Start -->    
    <div id="product-quickview" class="modal product-quickview is-xsmall has-light-bg">
        <div class="modal-background quickview-background"></div>
          <div class="modal-content">
          <div class="card">
              <div class="quickview-loader is-active">
                  <div class="loader is-loading"></div>
              </div>
              <div class="right">
                  <span class="close-modal close-modal-2">
                      <i data-feather="x"></i>
                  </span>
                  <div class="header">
                      <div class="product-info">
                          <img class="Loginmodal-img" src="assets/img/favicon.png" alt="">
                          <h3 id="quickview-name">Login</h3>
                          <p style="margin-bottom: 10px;">Welcome Back</p>
                          <a href="#" class="button is-fullwidth" style="margin-bottom: 5px;background-color: rgb(218, 1, 1);color: #fff;">Login via Gmail
                              &nbsp;<i class="mdi mdi-gmail"></i>
                          </a>
                          <a href="#" class="button is-fullwidth" style="background-color: rgb(61, 136, 206);color: #fff;">Login via Twitter
                              &nbsp;<i class="mdi mdi-twitter"></i>
                          </a>
                      </div>
                  </div>
                  <div id="signup-panel-2" class="process-panel-wrap is-narrow">
                      <div class="form-panel">
                      <div class="search-filter" style="margin-bottom: 10px;">
                          <div class="control has-icon">
                              <input type="text" class="input is-fade" placeholder="Enter username or email">
                              <div class="form-icon">
                                  <i class="fa fa-user" style="font-size: x-small;"></i>
                              </div>
                          </div>
                      </div>
                      <div class="search-filter" style="margin-bottom: 10px;">
                          <div class="control has-icon">
                              <input type="password" class="input is-fade" placeholder="Enter your password">
                              <div class="form-icon">
                                  <i class="fa fa-key" style="font-size: x-small;"></i>
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <p style="font-size: small;"><input type="checkbox"> Remember me</p>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <button class="button primary-button raised is-fullwidth">
                                  <p>Login</p>
                              </button>
                          </div>
                      </div>
                      <p> Already have an account ? <a href="signup.html">Sign up</a></p>
                      <div class="has-text-centered" style="margin-top: 10px;">
                          <a class=" modal-trigger " data-modal="albums-help-modal">Forget Password</a>
  
                      </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>   
      <!-- Login Modal End -->    

    <!-- Forget Password -->
    <div id="albums-help-modal" class="modal albums-help-modal is-xsmall has-light-bg">
        <div class="modal-background"></div>
        <div class="modal-content">

            <div class="card">
                <div class="card-heading">
                    <h3>Forget Password</h3>
                    <!-- Close X button -->
                    <div class="close-wrap">
                        <span class="close-modal">
                            <i data-feather="x"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content-block is-active" style="margin-left: -35px;text-align: center;align-items: center;">
                        <img src="assets/img/forget_email.svg" alt="">
                        <div class="help-text">
                            <p style="margin-bottom: 10px;color: rgb(29, 29, 29);">Enter your Email address.</p>
                            <input type="text" style="margin-bottom: 10px;" class="input is-fade" placeholder="Enter your Email">
                            <a href="#" style="background-color:rgb(0, 81, 128);color: #fff;" class="button is-fullwidth">Send link</a>

                        </div>

                        
                    </div>

                    <div class="content-block">
                    </div>

                    <div class="slide-dots">
                            <div class="column is-12">


                            </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p style="font-size: small;margin-top: 10px;font-weight: 400;">Forgot which email address you signed up with? <a href="support.html">Get help!</a> </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Forget Password -->

    {%  endblock %}
   