{% extends "base.html" %}

{% block content %}
{% load static %}

    

  

    <div class="products-navigation" style="display: none;">
    </div>
        

    <!-- Signup steps -->
        <div class="container">
              <div class="signup-wrapper signup-wrapper-pad">


            <div class="card">

                <h3 style="" class="card-signup-h3">Sign up</h3>
                <div class="process-bar-wrap">
                    <div class="process-bar">
                        <div class="progress-wrap">
                            <div class="track"></div>
                            <div class="bar"></div>
                            <div id="step-dot-1" class="dot is-first is-active is-current" data-step="0">
                                <i data-feather="smile"></i>
                            </div>
                            <div id="step-dot-2" class="dot is-second" data-step="25">
                                <i data-feather="user"></i>
                            </div>
                            <div id="step-dot-3" class="dot is-third" data-step="50">
                                <i data-feather="image"></i>
                            </div>
                            <div id="step-dot-4" class="dot is-fourth" data-step="75">
                                <i data-feather="lock"></i>
                            </div>
                            <div id="step-dot-5" class="dot is-fifth" data-step="100">
                                <i data-feather="flag"></i>
                            </div>
                        </div>
                    </div>
                </div>
        
                
                <div class="outer-panel">
                    <div class="outer-panel-inner">
                        <div class="process-title" style="margin-top: 40px;">
                            <h2 id="step-title-1" class="step-title is-active" style="font-size: 25px;">Sign up as</h2>
                            <h2 id="step-title-2" class="step-title" style="font-size: 25px;">Tell us more about you.</h2>
                            <h2 id="step-title-3" class="step-title" style="font-size: 25px;">Upload a profile picture.</h2>
                            <h2 id="step-title-4" class="step-title" style="font-size: 25px;">Secure your account.</h2>
                            <h2 id="step-title-5" class="step-title" style="font-size: 25px;">we sent you an email to activate your account.</h2>
                        </div>
                        
                        <div id="signup-panel-1" class="process-panel-wrap is-active">
                            <div class="columns">
                                <div class="column is-3 is-offset-3">
                                    <div class="account-type">
                                        <img src="{%static 'assets/img/student.svg' %}" style="width: 142px; height:auto;" alt="">
                                        <h3>Student </h3>
                                        <a class="button is-fullwidth process-button" data-step="step-dot-2">
                                            Continue
                                        </a>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="account-type">
                                        <img src="{%static 'assets/img/teach.svg'%}" alt="">
                                        <h3>Teacher </h3>
                                        <a class="button is-fullwidth process-button" data-step="step-dot-2">
                                            Continue
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p style="color: grey;text-align: center !important;">Or</p><br>
            
                            <div class="signupvia">
                            <div class="columns ">
                                <div class="column  " style="">
                                    <a href="#" class="button" style="background-color: rgb(218, 1, 1);color: #fff;">Sign up via Gmail
                                        &nbsp;<i class="mdi mdi-gmail"></i>
                                    </a>
                                </div>
                                <div class="column " style="">
                                    <a href="#" class="button" style="background-color: rgb(61, 136, 206);color: #fff;">Sign up via Twitter
                                        &nbsp;<i class="mdi mdi-twitter"></i>
                                    </a>
                                </div>
                                <div class="column " style="">
                                    <a href="#" class="button" style="background-color: rgb(20, 65, 161);color: #fff;">Sign up via Facebook
                                        &nbsp;<i class="mdi mdi-facebook"></i>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="text-align-center" style="text-align:center; color :  rgb(218, 1, 1);" id="div_error"></div>
                        <div id="signup-panel-2" class="process-panel-wrap is-narrow">
                            
                            <div class="form-panel">
                                <div class="field">
                                    <label>First Name</label>
                                    <div class="control">
                                        <input type="text" class="input" id="first_name" name="first_name" placeholder="Enter your first name">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Last Name</label>
                                    <div class="control">
                                        <input type="text" class="input" id="last_name" name="last_name" placeholder="Enter your last name">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Email</label>
                                    <div class="control">
                                        <input type="email" class="input" id="email" name="email" placeholder="Enter your email address">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="buttons">
                                <a class="button process-button" data-step="step-dot-1">Back</a>
                                
                                <a class="button process-button is-next" onclick="return Validate()">Next</a>
                                
                            </div>
                        </div>
                        
                        <div id="signup-panel-3" class="process-panel-wrap is-narrow">
                            <div class="form-panel">
                                <div class="photo-upload">
                                    <div class="preview">
                                        <a class="upload-button " data-modal="user-photos-modal">                            

                                            <i data-feather="plus"></i>
                                        </a>
                                        <img id="upload-preview" src="https://via.placeholder.com/150x150"
                                            data-demo-src="assets2/images/avatars/avatar-w.png" alt="">
                                        <form id="profile-pic-dz" class="dropzone is-hidden" action="/"></form>
                                    </div>
                                    <div class="limitation">
                                        <small>Only images with a size lower than 3MB are allowed.</small>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="buttons">
                                <a class="button process-button" data-step="step-dot-2">Back</a>
                                <a class="button process-button is-next" data-step="step-dot-4">Next</a>
                            </div>
                        </div>
                        
                        <div id="signup-panel-4" class="process-panel-wrap is-narrow">
                            <div class="form-panel">
                                <div class="field">
                                    <label>Password</label>
                                    <div class="control">
                                        <input type="password" class="input" id="password" name="password"  placeholder="Choose a password">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Repeat Password</label>
                                    <div class="control">
                                        <input type="password" class="input" id="confirm_password" name="confirm_password"  placeholder="Repeat your password">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Phone Number</label>
                                    <div class="control">
                                        <input type="text" class="input" id="phone_number" name="phone_number"  placeholder="Enter your phone number">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="buttons">
                                <a class="button process-button" data-step="step-dot-3">Back</a>
                                <a class="button process-button is-next" onclick="return signup()" >Next</a>
                            </div>
                        </div>
                        
                        <div id="signup-panel-5" class="process-panel-wrap is-narrow">
                            <div class="form-panel">
                                <img class="success-image" src="{%static 'assets/img/mailsent.svg' %}" alt="">
                                <div class="success-text">
                                    <h3>Congratz, you successfully created your account.</h3>
                                    <p> We just sent you a confirmation email. PLease confirm your account within 24 hours.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Edit Credit card Modal-->
                <div id="crop-modal" class="modal mdl-modal is-small crop-modal is-animated">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <div class="modal-card-title">
                                    <span>Crop your picture</span>
                                </div>
                                <button class="mdl-modal-close" aria-label="close">
                                    <i data-feather="x"></i>
                                </button>
                            </header>
                            <div class="modal-card-body">
                                <div id="cropper-wrapper" class="cropper-wrapper">
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        
            </div>


    </div>
</div>
    <!-- Signup steps -->






        
    <!-- Categories -->
    <div class="explorer-menu" >
        <div class="explorer-inner">
            <div class="container">
                <!--Header-->
                <div class="explorer-header">
                    <h3>Explore</h3>
                </div>
                <!--List-->
                <div class="explore-list">
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/coding.svg' %}" alt="">
                        <h4>Web Development</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/business.svg' %}" alt="">
                        <h4>Business</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/aviation.svg' %}" alt="">
                        <h4>Aviation</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/controller.svg' %}" alt="">
                        <h4>Games</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/math.svg' %}" alt="">
                        <h4>Mathmatics</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/lifestyle.svg' %}" alt="">
                        <h4>life Style</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/arts.svg' %}" alt="">
                        <h4>Arts</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/It.svg' %}" alt="">
                        <h4>Information Technology</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/drama.svg' %}" alt="">
                        <h4>Cenima & Drama</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/software.svg' %}" alt="">
                        <h4>Software Programming</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/languages.svg' %}" alt="">
                        <h4>Languages</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/coock.svg' %}" alt="">
                        <h4>Food & Cooking</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/maintanece.svg' %}" alt="">
                        <h4>Repare & Maintaince</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/skills.svg' %}" alt="">
                        <h4>Skills</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/other.svg' %}" alt="">
                        <h4>Others</h4>
                    </a>
                </div>
            </div>
        </div>
</div> 
<!-- Categories -->   


<!-- Login Modal Start -->    
<div id="product-quickview" class="modal product-quickview is-xsmall has-light-bg">
    <div class="modal-background quickview-background"></div>
      <div class="modal-content">
      <div class="card">
          <div class="quickview-loader is-active">
              <div class="loader is-loading"></div>
          </div>
          <div class="right">
              <span class="close-modal close-modal-2">
                  <i data-feather="x"></i>
              </span>
              <div class="header">
                  <div class="product-info">
                      <img class="Loginmodal-img" src="{%static 'assets/img/favicon.png' %}" alt="">
                      <h3 id="quickview-name">Login</h3>
                      <p style="margin-bottom: 10px;">Welcome Back</p>
                      <a href="#" class="button is-fullwidth" style="margin-bottom: 5px;background-color: rgb(218, 1, 1);color: #fff;">Login via Gmail
                          &nbsp;<i class="mdi mdi-gmail"></i>
                      </a>
                      <a href="#" class="button is-fullwidth" style="background-color: rgb(61, 136, 206);color: #fff;">Login via Twitter
                          &nbsp;<i class="mdi mdi-twitter"></i>
                      </a>
                  </div>
              </div>
              <div id="signup-panel-2" class="process-panel-wrap is-narrow">
                  <div class="form-panel">
                  <div class="search-filter" style="margin-bottom: 10px;">
                      <div class="control has-icon">
                          <input type="text" class="input is-fade" placeholder="Enter username or email">
                          <div class="form-icon">
                              <i class="fa fa-user" style="font-size: x-small;"></i>
                          </div>
                      </div>
                  </div>
                  <div class="search-filter" style="margin-bottom: 10px;">
                      <div class="control has-icon">
                          <input type="password" class="input is-fade" placeholder="Enter your password">
                          <div class="form-icon">
                              <i class="fa fa-key" style="font-size: x-small;"></i>
                          </div>
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <p style="font-size: small;"><input type="checkbox"> Remember me</p>
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <button class="button primary-button raised is-fullwidth">
                              <p>Login</p>
                          </button>
                      </div>
                  </div>
                  <p> Already have an account ? <a href="signup.html">Sign up</a></p>
                  <div class="has-text-centered" style="margin-top: 10px;">
                      <a class=" modal-trigger " data-modal="albums-help-modal">Forget Password</a>

                  </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>   
  <!-- Login Modal End -->      

    <!-- Forget Password -->
    <div id="albums-help-modal" class="modal albums-help-modal is-xsmall has-light-bg">
        <div class="modal-background"></div>
        <div class="modal-content">

            <div class="card">
                <div class="card-heading">
                    <h3>Forget Password</h3>
                    <!-- Close X button -->
                    <div class="close-wrap">
                        <span class="close-modal">
                            <i data-feather="x"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content-block is-active" style="margin-left: -35px;text-align: center;align-items: center;">
                        <img src="{%static 'assets/img/forget_email.svg' %}" alt="">
                        <div class="help-text">
                            <p style="margin-bottom: 10px;color: rgb(29, 29, 29);">Enter your Email address.</p>
                            <input type="text" style="margin-bottom: 10px;" class="input is-fade" placeholder="Enter your Email">
                            <a href="#" style="background-color:rgb(0, 81, 128);color: #fff;" class="button is-fullwidth">Send link</a>

                        </div>

                        
                    </div>

                    <div class="content-block">
                    </div>

                    <div class="slide-dots">
                            <div class="column is-12">


                            </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p style="font-size: small;margin-top: 10px;font-weight: 400;">Forgot which email address you signed up with? <a href="support.html">Get help!</a> </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Forget Password -->

    {%  endblock %}
    {% block script %}
        <!-- Page and UI related js -->
        <script>
            function isEmail(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
                }
            function Validate(){
                console.log($("#email").val());
                console.log(isEmail($("#email").val()));
                $("#div_error").html("");
                if($("#first_name").val()==""){
                    $("#div_error").html("Please enter the first name");
                    return false;
                }else if($("#last_name").val()==""){
                    $("#div_error").html("Please enter the last name");
                    return false;
                }else if(!isEmail($("#email").val()) || $("#email").val()==""){
                    $("#div_error").html("Please enter the valid email");
                    return false;
                }
                // Ajax start
                var action = "/check-email";
                        $.ajax({
                            url: action,
                            type: 'POST',
                            dataType: 'json',
                            // headers: {'X-CSRFToken': $("#hd_csrf").val(),},
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            data: {
                                email: $("#email").val(),
                            },

                            beforeSend: function () {

                                console.log("Beforesend")
                            },
                            success: function (data) {
                                console.log(data)
                                if(data.msg == "already"){
                                    $("#div_error").html("Email is already exist.");
                                    return false;
                                }else{
                                    $('#step-dot-3').trigger('click');
                                    return false
                                }
                            
                            },
                            error: function (err) {
                                return false
                            }
                        })
                        // Ajax end



                return false
                // $('#step-dot-3').trigger('click');
                // return false
                
                
            }
            // function signup(){
            //     alert("SSSSS");
            //     console.log($("#first_name").val())
            //     console.log($("#last_name").val())
            //     console.log($("#email").val())
            //     console.log($("#password").val())
            //     console.log($("#confirm_password").val())
            //     console.log($("#phone_number").val())
            //     return false
            // }
            function signup() {
                $("#div_error").html("");
                if($("#password").val().length >6){
                    $("#div_error").html("password greater than 7");
                    return false
                }
                if($("#password").val()==""){
                    $("#div_error").html("Please enter the password");
                    return false
                }else if($("#confirm_password").val()==""){
                    $("#div_error").html("Please enter the confirm password");
                    return false
                }else if($("#confirm_password").val()==$("#password").val()==""){
                    $("#div_error").html("password is not match. Please re-enter the correct password.");
                    return false
                }else if($("#phone_number").val()==""){
                    $("#div_error").html("Please enter the valid phone number");
                    return false
                }
                
                
                // Ajax start
                        var action = "/register-user";
                        $.ajax({
                            url: action,
                            type: 'POST',
                            dataType: 'json',
                            // headers: {'X-CSRFToken': $("#hd_csrf").val(),},
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            data: {
                                first_name: $("#first_name").val(),
                                last_name: $("#last_name").val(),
                                email: $("#email").val(),
                                password: $("#password").val(),
                                phone_number: $("#phone_number").val()
                            },

                            beforeSend: function () {

                                console.log("Beforesend")
                            },
                            success: function (data) {
                                console.log(data)
                                $('#step-dot-5').trigger('click');
                                return false
                            },
                            error: function (err) {
                                return false
                            }
                        })
                        // Ajax end



                return false


            }
        </script>
        <script src="{%static 'assets/js/signup.js' %}"></script>
    {%  endblock %}
    


                  