
{% extends "base.html" %}
{% block content %}
{% load static %}
                <!-- Start Carousel -->
                <div class="single_category-5">
                    <div class="container">
    
                        <h3 style="">Help & Support</h3>
                        <p>Get help and support with our Articles or contact us if you don't find what you want!</p>
    
    
                        </div>
                    </div>
                    <!-- End Carousel -->




  

                <div class="products-navigation" style="display: none;">
                </div>

 
    <!-- Section -->       
    <div id="shop-page" class="shop-wrapper">



        <div class="shop-header">
            

          <div class="container ">
  
              <div class="store-tabs store-tabs-2">
                  <a data-tab="brands-tab" class="tab-control">Teacher 👨🏽‍🏫</a>
                  <a data-tab="products-tab" class="tab-control is-active">Students 👨🏽‍💻</a>
             
                  <div class="store-naver"></div>
              </div>
              
          </div>
  
      </div>
      
  
      <div class="store-sections">
  
         <div class="container">
        <!--Products-->
        <div id="products-tab" class="store-tab-pane  is-active" id="demo">
            
          <div class="signup-wrapper signup-wrapper-2" >


          <div class="process-bar-wrap">
              <div class="process-bar-2">
                  <div class="progress-wrap">
                      <div id="step-dot-1" class="dot is-first is-active is-current" data-step="0">

                      </div>
                      <div id="step-dot-2" class="dot is-second" data-step="25">
                          
                      </div>
                      <div id="step-dot-3" class="dot is-third" data-step="50">
                          
                      </div>
                      <div id="step-dot-4" class="dot is-fourth" data-step="75">
                         
                      </div>
                      <div id="step-dot-5" class="dot is-fifth" data-step="100">
                          
                      </div>
                  </div>
              </div>
          </div>


          <div class="outer-panel">
              <div class="outer-panel-inner">
                  
                  <div id="signup-panel-1" class="process-panel-wrap process-panel-wrap-2 is-active">
                    
                    <div class="columns is-12">
                        <div class="column">
                            <div class="account-type-2">
                                <a class=" process-button" data-step="step-dot-2">
                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                <h3 style="font-weight: 500;">Accounts</h3>
                                <p>Get help about your account profile.</p>
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="account-type-2">
                                <a class=" process-button" data-step="step-dot-2">
                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                <h3 style="font-weight: 500;">Accounts</h3>
                                <p>Get help about your account profile.</p>
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="account-type-2">
                                <a class=" process-button" data-step="step-dot-2">
                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                <h3 style="font-weight: 500;">Accounts</h3>
                                <p>Get help about your account profile.</p>
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="account-type-2">
                                <a class=" process-button" data-step="step-dot-2">
                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                <h3 style="font-weight: 500;">Accounts</h3>
                                <p>Get help about your account profile.</p>
                                </a>
                            </div>
                        </div>
                      </div>
                      <div class="columns is-12">
                          <div class="column">
                              <div class="account-type-2">
                                  <a class=" process-button" data-step="step-dot-2">
                                  <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                  <h3 style="font-weight: 500;">Accounts</h3>
                                  <p>Get help about your account profile.</p>
                                  </a>
                              </div>
                          </div>
                          <div class="column">
                              <div class="account-type-2">
                                  <a class=" process-button" data-step="step-dot-2">
                                  <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                  <h3 style="font-weight: 500;">Accounts</h3>
                                  <p>Get help about your account profile.</p>
                                  </a>
                              </div>
                          </div>
                          <div class="column">
                              <div class="account-type-2">
                                  <a class=" process-button" data-step="step-dot-2">
                                  <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                  <h3 style="font-weight: 500;">Accounts</h3>
                                  <p>Get help about your account profile.</p>
                                  </a>
                              </div>
                          </div>
                          <div class="column">
                              <div class="account-type-2">
                                  <a class=" process-button" data-step="step-dot-2">
                                  <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                  <h3 style="font-weight: 500;">Accounts</h3>
                                  <p>Get help about your account profile.</p>
                                  </a>
                              </div>
                          </div>
                        </div>

                      <h2>What’s happening with you? </h2>

                    </div> 
                  
                  <div id="signup-panel-2" class="process-panel-wrap process-panel-wrap-3 is-narrow">
                      

                        <a class=" process-button" data-step="step-dot-1">
                            <i class="fa fa-arrow-left"></i>
                            Back</a>
                   
                            <h2>Set up your account correctly</h2>
                    

                    
                            <div class="columns is-12">
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-3">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-3">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-3">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-3">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                              </div>
                    
                              <div class="columns is-12">
                                  <div class="column">
                                      <div class="account-type-3">
                                          <a class=" process-button" data-step="step-dot-3">
                                          <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                          <h3 style="font-weight: 500;">Accounts</h3>
                                          <p>Get help about your account profile.</p>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="column">
                                      <div class="account-type-3">
                                          <a class=" process-button" data-step="step-dot-3">
                                          <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                          <h3 style="font-weight: 500;">Accounts</h3>
                                          <p>Get help about your account profile.</p>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="column">
                                      <div class="account-type-3">
                                          <a class=" process-button" data-step="step-dot-3">
                                          <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                          <h3 style="font-weight: 500;">Accounts</h3>
                                          <p>Get help about your account profile.</p>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="column">
                                      <div class="account-type-3">
                                          <a class=" process-button" data-step="step-dot-3">
                                          <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                          <h3 style="font-weight: 500;">Accounts</h3>
                                          <p>Get help about your account profile.</p>
                                          </a>
                                      </div>
                                  </div>
                                </div>
                     
                  </div>
                  
                  <div id="signup-panel-3" class="process-panel-wrap process-panel-wrap-4 is-narrow">
                    
                    <a class=" process-button" data-step="step-dot-2">
                        <i class="fa fa-arrow-left"></i>
                        Back</a>
               
                        <h2>Login Problems</h2>
        

                        <div class="card-support">

                            <div class="columns is-12">


                                <div class="question-content" style="position: relative;">
    
                                    <!--Top Bar-->
                                    <!-- Main answer -->
                                    <div class="answer-block ">
                                        <!-- Author -->
                                        <div class="answer-author">
                                            <img src="{%static 'assets/img/man.jpg" style="position: absolute;top:20px;left:50px;width: 40px;height:auto;border: 1px solid grey;border-radius: 50%;" alt="">

                                            <div class="auther-content" style="display: flex;flex-direction: column;position: absolute;top: 20px;left:100px;">
                                                <h3>Elzubair Mohammed</h3>
                                                <p>Ceo Manager</p>

                                            </div>
                                            <div class="auther-date" style="position: absolute;right: 50px;top: 20px;">
                                                <small style="font-weight: 500;">Last update on: 12/01/2020</small>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        <div class="answer-text" style="margin-top: 90px;margin-left: 55px;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eum nihili facit; Quacumque
                                                enim ingredimur, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio , in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio, in
                                                aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                oratio.</p>
                                            <p style="margin-top: 15px !important;">First install this:</p>
                                            <p class="code">
                                                npm install photo_module_js - - save
                                            </p>
                                            <p>Then configure your photos:</p>
                                            <p class="code">
                                                $var product = this.getProduct.productDetails;
                                                <br>$var photoUrl = product.mainInmage.photoUrl;
                                                <br>for (var i = 0; i &lt; photoUrl.length; i++) { //do your stuff here } </p>
                                            <p>You can
                                                also check the documentation:</p>
                                            <p><a class="standard-link">https://friendkit/guides/ecommerce/products/docs</a></p>
                                        </div>
                                        <!-- Footer -->
                                    </div>
                                </div>

                            </div>
                            </div>
                            




                            <h2>Related Topics</h2>
                    
                    
                            <div class="columns is-12">
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-1">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-1">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-1">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-3">
                                        <a class=" process-button" data-step="step-dot-1">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                              </div>


                        </div>

                    

                  </div>
                  
                  <div id="signup-panel-4" class="process-panel-wrap is-narrow">
                      <div class="form-panel">
                          <div class="field">
                              <label>Password</label>
                              <div class="control">
                                  <input type="password" class="input" placeholder="Choose a password">
                              </div>
                          </div>
                          <div class="field">
                              <label>Repeat Password</label>
                              <div class="control">
                                  <input type="password" class="input" placeholder="Repeat your password">
                              </div>
                          </div>
                          <div class="field">
                              <label>Phone Number</label>
                              <div class="control">
                                  <input type="text" class="input" placeholder="Enter your phone number">
                              </div>
                          </div>
                      </div>
                  
                      <div class="buttons">
                          <a class="button process-button" data-step="step-dot-3">Back</a>
                          <a class="button process-button is-next" data-step="step-dot-5">Next</a>
                      </div>
                  </div>
                  
                  <div id="signup-panel-5" class="process-panel-wrap is-narrow">
                      <div class="form-panel">
                          <img class="success-image" src="{%static 'assets2/images/illustrations/signup/mailbox.svg' %}" alt="">
                          <div class="success-text">
                              <h3>Congratz, you successfully created your account.</h3>
                              <p> We just sent you a confirmation email. PLease confirm your account within 24 hours.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>


     
        <!-- Brands -->
        <div id="brands-tab" class="store-tab-pane">
                     
          
            <div class="signup-wrapper signup-wrapper-2">


                <div class="process-bar-wrap">
                    <div class="process-bar-2">
                        <div class="progress-wrap">
                            <div id="step-dot-1" class="dot is-first is-active is-current" data-step="0">
      
                            </div>
                            <div id="step-dot-2" class="dot is-second" data-step="25">
                                
                            </div>
                            <div id="step-dot-3" class="dot is-third" data-step="50">
                                
                            </div>
                            <div id="step-dot-4" class="dot is-fourth" data-step="75">
                               
                            </div>
                            <div id="step-dot-5" class="dot is-fifth" data-step="100">
                                
                            </div>
                        </div>
                    </div>
                </div>
      
      
                <div class="outer-panel">
                    <div class="outer-panel-inner">
                        
                        <div id="signup-panel-1" class="process-panel-wrap process-panel-wrap-2 is-active">
                          
                          <div class="columns is-12">
                              <div class="column">
                                  <div class="account-type-2">
                                      <a class=" process-button" data-step="step-dot-2">
                                      <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                      <h3 style="font-weight: 500;">Accounts</h3>
                                      <p>Get help about your account profile.</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="column">
                                  <div class="account-type-2">
                                      <a class=" process-button" data-step="step-dot-2">
                                      <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                      <h3 style="font-weight: 500;">Accounts</h3>
                                      <p>Get help about your account profile.</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="column">
                                  <div class="account-type-2">
                                      <a class=" process-button" data-step="step-dot-2">
                                      <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                      <h3 style="font-weight: 500;">Accounts</h3>
                                      <p>Get help about your account profile.</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="column">
                                  <div class="account-type-2">
                                      <a class=" process-button" data-step="step-dot-2">
                                      <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                      <h3 style="font-weight: 500;">Accounts</h3>
                                      <p>Get help about your account profile.</p>
                                      </a>
                                  </div>
                              </div>
                            </div>
                            <div class="columns is-12">
                                <div class="column">
                                    <div class="account-type-2">
                                        <a class=" process-button" data-step="step-dot-2">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-2">
                                        <a class=" process-button" data-step="step-dot-2">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-2">
                                        <a class=" process-button" data-step="step-dot-2">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="account-type-2">
                                        <a class=" process-button" data-step="step-dot-2">
                                        <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                        <h3 style="font-weight: 500;">Accounts</h3>
                                        <p>Get help about your account profile.</p>
                                        </a>
                                    </div>
                                </div>
                              </div>
      
                            <h2>What’s happening with you? </h2>
      
                          </div> 
                        
                        <div id="signup-panel-2" class="process-panel-wrap process-panel-wrap-3 is-narrow">
                            
      
                              <a class=" process-button" data-step="step-dot-1">
                                  <i class="fa fa-arrow-left"></i>
                                  Back</a>
                         
                                  <h2>Set up your account correctly</h2>
                          
      
                          
                                  <div class="columns is-12">
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-3">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-3">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-3">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-3">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                    </div>
                          
                                    <div class="columns is-12">
                                        <div class="column">
                                            <div class="account-type-3">
                                                <a class=" process-button" data-step="step-dot-3">
                                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                                <h3 style="font-weight: 500;">Accounts</h3>
                                                <p>Get help about your account profile.</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="account-type-3">
                                                <a class=" process-button" data-step="step-dot-3">
                                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                                <h3 style="font-weight: 500;">Accounts</h3>
                                                <p>Get help about your account profile.</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="account-type-3">
                                                <a class=" process-button" data-step="step-dot-3">
                                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                                <h3 style="font-weight: 500;">Accounts</h3>
                                                <p>Get help about your account profile.</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="account-type-3">
                                                <a class=" process-button" data-step="step-dot-3">
                                                <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                                <h3 style="font-weight: 500;">Accounts</h3>
                                                <p>Get help about your account profile.</p>
                                                </a>
                                            </div>
                                        </div>
                                      </div>
                           
                        </div>
                        
                        <div id="signup-panel-3" class="process-panel-wrap process-panel-wrap-4 is-narrow">
                          
                          <a class=" process-button" data-step="step-dot-2">
                              <i class="fa fa-arrow-left"></i>
                              Back</a>
                     
                              <h2>Login Problems</h2>
              
      
                              <div class="card-support">
      
                                  <div class="columns is-12">
      
      
                                      <div class="question-content" style="position: relative;">
          
                                          <!--Top Bar-->
                                          <!-- Main answer -->
                                          <div class="answer-block ">
                                              <!-- Author -->
                                              <div class="answer-author">
                                                  <img src="{%static 'assets/img/man.jpg" style="position: absolute;top:20px;left:50px;width: 40px;height:auto;border: 1px solid grey;border-radius: 50%;" alt="">
      
                                                  <div class="auther-content" style="display: flex;flex-direction: column;position: absolute;top: 20px;left:100px;">
                                                      <h3>Elzubair Mohammed</h3>
                                                      <p>Ceo Manager</p>
      
                                                  </div>
                                                  <div class="auther-date" style="position: absolute;right: 50px;top: 20px;">
                                                      <small style="font-weight: 500;">Last update on: 12/01/2020</small>
                                                  </div>
                                              </div>
                                              <!-- Content -->
                                              <div class="answer-text" style="margin-top: 90px;margin-left: 55px;">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eum nihili facit; Quacumque
                                                      enim ingredimur, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio , in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio, in
                                                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                                                      oratio.</p>
                                                  <p style="margin-top: 15px !important;">First install this:</p>
                                                  <p class="code">
                                                      npm install photo_module_js - - save
                                                  </p>
                                                  <p>Then configure your photos:</p>
                                                  <p class="code">
                                                      $var product = this.getProduct.productDetails;
                                                      <br>$var photoUrl = product.mainInmage.photoUrl;
                                                      <br>for (var i = 0; i &lt; photoUrl.length; i++) { //do your stuff here } </p>
                                                  <p>You can
                                                      also check the documentation:</p>
                                                  <p><a class="standard-link">https://friendkit/guides/ecommerce/products/docs</a></p>
                                              </div>
                                              <!-- Footer -->
                                          </div>
                                      </div>
      
                                  </div>
                                  </div>
                                  
      
      
      
      
                                  <h2>Related Topics</h2>
                          
                          
                                  <div class="columns is-12">
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-1">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-1">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-1">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="column">
                                          <div class="account-type-3">
                                              <a class=" process-button" data-step="step-dot-1">
                                              <img src="{%static 'assets/img/profile.svg' %}" alt="" style="margin-bottom: 15px;">
                                              <h3 style="font-weight: 500;">Accounts</h3>
                                              <p>Get help about your account profile.</p>
                                              </a>
                                          </div>
                                      </div>
                                    </div>
      
      
                              </div>
      
                          
      
                        </div>
                        
                        <div id="signup-panel-4" class="process-panel-wrap is-narrow">
                            <div class="form-panel">
                                <div class="field">
                                    <label>Password</label>
                                    <div class="control">
                                        <input type="password" class="input" placeholder="Choose a password">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Repeat Password</label>
                                    <div class="control">
                                        <input type="password" class="input" placeholder="Repeat your password">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Phone Number</label>
                                    <div class="control">
                                        <input type="text" class="input" placeholder="Enter your phone number">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="buttons">
                                <a class="button process-button" data-step="step-dot-3">Back</a>
                                <a class="button process-button is-next" data-step="step-dot-5">Next</a>
                            </div>
                        </div>
                        
                        <div id="signup-panel-5" class="process-panel-wrap is-narrow">
                            <div class="form-panel">
                                <img class="success-image" src="{%static 'assets2/images/illustrations/signup/mailbox.svg' %}" alt="">
                                <div class="success-text">
                                    <h3>Congratz, you successfully created your account.</h3>
                                    <p> We just sent you a confirmation email. PLease confirm your account within 24 hours.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
        </div>
    </div>

     </div>
      </div>    
                           
  
     

        
    <!-- Categories -->
    <div class="explorer-menu" >
        <div class="explorer-inner">
            <div class="container">
                <!--Header-->
                <div class="explorer-header">
                    <h3>Explore</h3>
                </div>
                <!--List-->
                <div class="explore-list">
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/coding.svg' %}" alt="">
                        <h4>Web Development</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/business.svg' %}" alt="">
                        <h4>Business</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/aviation.svg' %}" alt="">
                        <h4>Aviation</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/controller.svg' %}" alt="">
                        <h4>Games</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/math.svg' %}" alt="">
                        <h4>Mathmatics</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/lifestyle.svg' %}" alt="">
                        <h4>life Style</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/arts.svg' %}" alt="">
                        <h4>Arts</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/It.svg' %}" alt="">
                        <h4>Information Technology</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/drama.svg' %}" alt="">
                        <h4>Cenima & Drama</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/software.svg' %}" alt="">
                        <h4>Software Programming</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/languages.svg' %}" alt="">
                        <h4>Languages</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/coock.svg' %}" alt="">
                        <h4>Food & Cooking</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/maintanece.svg' %}" alt="">
                        <h4>Repare & Maintaince</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/skills.svg' %}" alt="">
                        <h4>Skills</h4>
                    </a>
                    <!--item-->
                    <a href="index.html" class="explore-item">
                        <img src="{%static 'assets/img/icons/explore/other.svg' %}" alt="">
                        <h4>Others</h4>
                    </a>
                </div>
            </div>
        </div>
</div> 
<!-- Categories -->   




{%  endblock %}