{% extends "base.html" %}

{% block content %}
{% load static %}





    <div class="products-navigation" style="display: none;">
    </div>
        



    

    <div class="terms">

            



            <!-- Brands -->
            <div id="brands-tab" class="store-tab-pane is-active">
                   <!-- Timeline -->
    
                   <section class="hero is-small is-bold hero-term">
                    <div class="hero-body">
                      <div class="container">
            
                        <h1 class="booctep-1" data-shadow='Booctep'>Terms</h1>
        
                        
                        
             
                        <h2 class="booctep-h2">Terms of use and condition</h2>
            
                      </div>
                    </div>
                  </section>

   
   


      


                  <div class="terms-page">
                    <div class="container">

                        <div class="columns">
                            <div class="column is-3">
    
                                <div class="card-terms">
                                    <a href="#simple-buttons" style="margin-bottom: 20px;
                                    transition: all 2s ease-in-out;">Accountxs</a><br>
                                    <a href="#simple">Sign up</a><br>
                                    <a href="#hi">Payments</a><br>
                                    <a href="#by">Courses</a><br>
                                    <a href="#simple">Sign up</a><br>
                                    <a href="#hi">Payments</a><br>
                                    <a href="#by">Courses</a><br>
                                    <a href="#simple">Sign up</a><br>
                                    <a href="#hi">Payments</a><br>
                                    <a href="#by">Courses</a>
                                </div>
                            </div>
                            <div class="column is-9 ">
                                <div id="simple-buttons" class="element-block">
                                    <div class="categories-header">
                                        <h2>Payments</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                <div id="simple" class="element-block">
                                    <div class="categories-header">
                                        <h2>Accounts</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                <div id="hi" class="element-block">
                                    <div class="categories-header">
                                        <h2>Sympol</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                
                                <div id="by" class="element-block">
                                    <div class="categories-header">
                                        <h2>Courses</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                
                            </div>
                        </div>
    
    
                      </div>
                  </div>


        </div>

    </div>
 


             
    <!-- Login Modal Start -->    
    <div id="product-quickview" class="modal product-quickview is-xsmall has-light-bg">
        <div class="modal-background quickview-background"></div>
          <div class="modal-content">
          <div class="card">
              <div class="quickview-loader is-active">
                  <div class="loader is-loading"></div>
              </div>
              <div class="right">
                  <span class="close-modal close-modal-2">
                      <i data-feather="x"></i>
                  </span>
                  <div class="header">
                      <div class="product-info">
                          <img class="Loginmodal-img" src="assets/img/favicon.png" alt="">
                          <h3 id="quickview-name">Login</h3>
                          <p style="margin-bottom: 10px;">Welcome Back</p>
                          <a href="#" class="button is-fullwidth" style="margin-bottom: 5px;background-color: rgb(218, 1, 1);color: #fff;">Login via Gmail
                              &nbsp;<i class="mdi mdi-gmail"></i>
                          </a>
                          <a href="#" class="button is-fullwidth" style="background-color: rgb(61, 136, 206);color: #fff;">Login via Twitter
                              &nbsp;<i class="mdi mdi-twitter"></i>
                          </a>
                      </div>
                  </div>
                  <div id="signup-panel-2" class="process-panel-wrap is-narrow">
                      <div class="form-panel">
                      <div class="search-filter" style="margin-bottom: 10px;">
                          <div class="control has-icon">
                              <input type="text" class="input is-fade" placeholder="Enter username or email">
                              <div class="form-icon">
                                  <i class="fa fa-user" style="font-size: x-small;"></i>
                              </div>
                          </div>
                      </div>
                      <div class="search-filter" style="margin-bottom: 10px;">
                          <div class="control has-icon">
                              <input type="password" class="input is-fade" placeholder="Enter your password">
                              <div class="form-icon">
                                  <i class="fa fa-key" style="font-size: x-small;"></i>
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <p style="font-size: small;"><input type="checkbox"> Remember me</p>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <button class="button primary-button raised is-fullwidth">
                                  <p>Login</p>
                              </button>
                          </div>
                      </div>
                      <p> Already have an account ? <a href="signup.html">Sign up</a></p>
                      <div class="has-text-centered" style="margin-top: 10px;">
                          <a class=" modal-trigger " data-modal="albums-help-modal">Forget Password</a>
  
                      </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>   
      <!-- Login Modal End -->    

    <!-- Forget Password -->
    <div id="albums-help-modal" class="modal albums-help-modal is-xsmall has-light-bg">
        <div class="modal-background"></div>
        <div class="modal-content">

            <div class="card">
                <div class="card-heading">
                    <h3>Forget Password</h3>
                    <!-- Close X button -->
                    <div class="close-wrap">
                        <span class="close-modal">
                            <i data-feather="x"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content-block is-active" style="margin-left: -35px;text-align: center;align-items: center;">
                        <img src="assets/img/forget_email.svg" alt="">
                        <div class="help-text">
                            <p style="margin-bottom: 10px;color: rgb(29, 29, 29);">Enter your Email address.</p>
                            <input type="text" style="margin-bottom: 10px;" class="input is-fade" placeholder="Enter your Email">
                            <a href="#" style="background-color:rgb(0, 81, 128);color: #fff;" class="button is-fullwidth">Send link</a>

                        </div>

                        
                    </div>

                    <div class="content-block">
                    </div>

                    <div class="slide-dots">
                            <div class="column is-12">


                            </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p style="font-size: small;margin-top: 10px;font-weight: 400;">Forgot which email address you signed up with? <a href="support.html">Get help!</a> </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Forget Password -->


    {% endblock %}