{% extends 'base.html' %}
{% load static %}

  {% block title %} Booctep | Terms & conditions {% endblock %}

  {% block content %}
    <div class="products-navigation" style="display: none;">
    </div>
        



    

    <div class="terms">

            



            <!-- Brands -->
            <div id="brands-tab" class="store-tab-pane is-active">
                   <!-- Timeline -->
    
                   <section class="hero is-small is-bold hero-faqs">
                    <div class="hero-body">
                      <div class="container">
            
                        <h1 class="booctep-1" data-shadow='Booctep'>FAQs</h1>
        
                        
                        
             
                        <h2 class="booctep-h2">Frequency Questions and answers</h2>
            
                      </div>
                    </div>
                  </section>

   
   


      


                  <div class="terms-page">
                    <div class="container">

                        <div class="columns">
                            <div class="column is-4 ">
                                
                                                                                                              
                                <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent" style="margin-top: 5px;">
                                    <div class="accordion__item" style="border: 1px solid #ccc;height: 100% !important;">
                                        <a href="#" style="background-color: rgb(240, 240, 240);border: 1px solid rgb(223, 223, 223);" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                            <span class="flex" style="font-size: small;">How signup works?</span>
                                        </a>
                                        <div class="accordion__menu collapse" id="course-toc-1">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit? Placeat sint ad, modi voluptate molestias iusto eos labore architecto quas excepturi doloremque enim iste, cupiditate quis. Voluptatum, iure quisquam!</p>
                                        </div>
                                    </div>  
                                </div>  
                                
                            </div>
                            <div class="column is-4 ">
                                
                                                                                                
                                <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent" style="margin-top: 5px;">
                                    <div class="accordion__item" style="border: 1px solid #ccc;height: 100% !important;">
                                        <a href="#" style="background-color: rgb(240, 240, 240);border: 1px solid rgb(223, 223, 223);" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                            <span class="flex" style="font-size: small;">How signup works?</span>
                                        </a>
                                        <div class="accordion__menu collapse" id="course-toc-1">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit? Placeat sint ad, modi voluptate molestias iusto eos labore architecto quas excepturi doloremque enim iste, cupiditate quis. Voluptatum, iure quisquam!</p>
                                        </div>
                                    </div>  
                                </div>  
                                
                            </div>
                            <div class="column is-4 ">
                                
                                                                                                
                                <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent" style="margin-top: 5px;">
                                    <div class="accordion__item" style="border: 1px solid #ccc;height: 100% !important;">
                                        <a href="#" style="background-color: rgb(240, 240, 240);border: 1px solid rgb(223, 223, 223);" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                            <span class="flex" style="font-size: small;">How signup works?</span>
                                        </a>
                                        <div class="accordion__menu collapse" id="course-toc-1">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit? Placeat sint ad, modi voluptate molestias iusto eos labore architecto quas excepturi doloremque enim iste, cupiditate quis. Voluptatum, iure quisquam!</p>
                                        </div>
                                    </div>  
                                </div>   
                                
                            </div>
                        </div>
    
    
                      </div>
                  </div>


        </div>

    </div>
  
  {% endblock %}

  {% block js %}
    <script>
      const player = new Plyr('#player');
    </script>
  
    <!-- Concatenated js plugins and jQuery -->
    <script src="{% static 'assets/js/timeline.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- Video player js -->
    <!-- Font Awesome -->
    <script src="{% static 'assets/js/all.js' %}"></script>
    
    <!-- Core js -->
    <script src="{% static 'assets/js/global.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    
    <script src="{% static 'assets/js/videos.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/explorer.js' %}"></script>
    <!-- App JS -->
    <script src="{% static 'assets/js/sideb.js' %}"></script>
  {% endblock %}
  