{% extends 'base.html' %}
{% load static %}

{% block title %} Booctep | Terms and Conditions {% endblock %}
    
{% block content %}
  <div class="products-navigation" style="display: none;"></div> 
  <div class="terms">
    <!-- Brands -->
    <div id="brands-tab" class="store-tab-pane is-active">
      <!-- Timeline -->    
      <section class="hero is-small is-bold hero-term">
        <div class="hero-body">
          <div class="container">  
            <h1 class="booctep-1" data-shadow='Booctep'>Terms</h1>                    
            <h2 class="booctep-h2">Terms of use and condition</h2>
          </div>
        </div>
      </section>

      <div class="terms-page">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <div class="card-terms">
                {% for terms in terms_objects %}
                  {% if forloop.counter == 1 %}
                    <a href="#terms{{ terms.id }}" style="margin-bottom: 20px; transition: all 2s ease-in-out;">{{ terms.title }}</a>
                  {% else %}
                    <a href="#terms{{ terms.id }}">{{ terms.title }}</a>
                  {% endif %}
                  <br>
                {% endfor %}
              </div>
            </div>
            
            <div class="column is-9 ">
              {% for terms in terms_objects %}
                <div id="terms{{ terms.id }}" class="element-block">
                  <div class="categories-header">
                    <h2>{{ terms.title }}</h2>
                  </div>
                  <p>{{ terms.description|safe }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    const player = new Plyr('#player');
  </script>

  <!-- Concatenated js plugins and jQuery -->
  <script src="{% static 'assets/js/timeline.js' %}"></script>
  <script src="{% static 'assets/js/app.js' %}"></script>
  <!-- Video player js -->
  <!-- Font Awesome -->
  <script src="{% static 'assets/js/all.js' %}"></script>
  
  <!-- Core js -->
  <script src="{% static 'assets/js/global.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/explorer.js' %}"></script>
  
  <script src="{% static 'assets/js/videos.js' %}"></script>
  <script src="{% static 'assets/js/shop.js' %}"></script>
  <script src="{% static 'assets/js/settings.js' %}"></script>
{% endblock %}

  