{% extends "base.html" %}

{% block content %}
{% load static %}





    <div class="products-navigation" style="display: none;">
    </div>
        



    

    <div class="terms">

            



            <!-- Brands -->
            <div id="brands-tab" class="store-tab-pane is-active">
                   <!-- Timeline -->
    
                   <section class="hero is-small is-bold hero-term">
                    <div class="hero-body">
                      <div class="container">
            
                        <h1 class="booctep-1" data-shadow='Booctep'>Terms</h1>
        
                        
                        
             
                        <h2 class="booctep-h2">Terms of use and condition</h2>
            
                      </div>
                    </div>
                  </section>

   
   


      


                  <div class="terms-page">
                    <div class="container">

                        <div class="columns">
                            <div class="column is-3">
    
                                <div class="card-terms">
                                    <a href="#simple-buttons" style="margin-bottom: 20px;
                                    transition: all 2s ease-in-out;">Accountxs</a><br>
                                    <a href="#simple">Sign up</a><br>
                                    <a href="#hi">Payments</a><br>
                                    <a href="#by">Courses</a><br>
                                    <a href="#simple">Sign up</a><br>
                                    <a href="#hi">Payments</a><br>
                                    <a href="#by">Courses</a><br>
                                    <a href="#simple">Sign up</a><br>
                                    <a href="#hi">Payments</a><br>
                                    <a href="#by">Courses</a>
                                </div>
                            </div>
                            <div class="column is-9 ">
                                <div id="simple-buttons" class="element-block">
                                    <div class="categories-header">
                                        <h2>Payments</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                <div id="simple" class="element-block">
                                    <div class="categories-header">
                                        <h2>Accounts</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                <div id="hi" class="element-block">
                                    <div class="categories-header">
                                        <h2>Sympol</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                
                                <div id="by" class="element-block">
                                    <div class="categories-header">
                                        <h2>Courses</h2>
                                    </div>
                                    <p>A non exhaustive list of UI elements that you can use when building your project with Friendkit. More will be added as new theme updates are released. Friendkit being a <a href="https://bulma.io" target="_blank">Bulma.io</a> based theme, you can use components directly from Bulma. You can read the <a href="https://bulma.io/documentation" target="_blank">documentation</a> if you're not familiar with it.</p>
                                </div>
                                
                            </div>
                        </div>
    
    
                      </div>
                  </div>


        </div>

    </div>
 


    {% endblock %}