{% load static %}
<div id="main-navbar" class="navbar navbar-dark is-inline-flex no-shadow is-hidden-mobile">
    <div class="container ">
        <div class="navbar-brand">
            <a href="/" class="navbar-item logo">
               <!-- <img src="{%static 'assets/img/logo/booctep-tran.png' %}" alt=""  /> -->
               <img class="mode_images" src="{%static 'assets/img/logo/booctep-tran.png' %}" alt=""  />
            </a>
        </div>
            
        <!-- <div id="mobile-explorer-trigger" class="navbar-item is-icon is-dark-icon">
            <a class="icon-link is-primary">
                <i class="mdi mdi-apps"></i>
            </a>
        </div> -->
        
        <div id="navbarBasicExample" class="navbar-menu">

            {% if user.is_authenticated %}
            <div class="navbar-end">  
                <label id="toggler" class="animated-toggle animated-toggle-is-dark">
                    <input type="checkbox">
                    <span class="toggler">
                        <span class="dark">
                            <i data-feather="moon"></i>
                        </span>
                        <span class="light">
                            <i data-feather="sun"></i>
                        </span>
                    </span>
                </label>
                <div class="navbar-item is-cart is-dark-cart" style="margin-left: -20px;">
                    <div class="cart-button">
                        <i class="fa fa-bell"></i>
                        <div class="cart-count">
                            <span>6</span>
                        </div>
                    </div>
                
                    <!-- Cart dropdown -->
                    <div class="shopping-cart">
                        <div class="cart-inner">
                
                
                            <!--Loader-->
                            <div class="navbar-cart-loader is-active">
                                <div class="loader is-loading"></div>
                            </div>
                            


                            <div class="shopping-cart-header">
                                <a href="#"><u style="color: rgb(204, 0, 61);">Mark all as read</u></a>
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text">4 Notifications</span>
                                </div>
                            </div>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>
                            
                    
                            <a href="#" class="button primary-button is-raised">view all Notifications</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-item is-cart" style="margin-left: -20px;">
                    <div class="cart-button">
                        <i class="fa fa-comment-alt"></i>
                        <div class="cart-count">
                            <span>6</span>
                        </div>
                    </div>
                
                    <!-- Cart dropdown -->
                    <div class="shopping-cart">
                        <div class="cart-inner">
                
                
                            <!--Loader-->
                            <div class="navbar-cart-loader is-active">
                                <div class="loader is-loading"></div>
                            </div>
                            


                            <div class="shopping-cart-header">
                                <a href="#"><u style="color: rgb(204, 0, 61);">Mark all as read</u></a>
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text">4 Messages</span>
                                </div>
                            </div>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);position: relative;">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>

                            <a class="dropdown-item" style="border-bottom: 1px solid rgb(240, 240, 240);">
                                <div class="noti-cart">
                                <img src="{%static 'assets/img/man.jpg' %}" alt="" />
                                <p >Hello Bandar How are you?</p>
                                <small >3 mins</small>
                            </div>
                            </a>
                            
                    
                            <a href="#" class="button primary-button is-raised">view all Notifications</a>
                        </div>
                    </div>
                </div>


                <div class="navbar-item is-cart" style="margin-left: -20px;">
                    <div class="cart-button">
                        <i class="fa fa-heart"></i>
                        <div class="cart-count">
                            <span>3</span>
                        </div>
                    </div>
                
                
                    <!-- Cart dropdown -->
                    <div class="shopping-cart">
                        <div class="cart-inner">
                
                            <!--Loader-->
                            <div class="navbar-cart-loader is-active">
                                <div class="loader is-loading"></div>
                            </div>
                
                            <div class="shopping-cart-header">
                                <a href="wishlist.html"><u style="color: rgb(255, 0, 200);">View Fav Page</u></a>
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text">4 courses</span>
                                </div>
                            </div>
                            <!--end shopping-cart-header -->
                    
                            <ul class="shopping-cart-items">
                                <li class="cart-row">
                                    <img src="{%static 'assets/img/products/pg.jpg' %}" alt="" />
                                    <span class="item-meta">
                                        <span class="item-name"><a href="#">Html5 Full course learn no..</a></span>
                                        <span class="meta-info">
                                            <span class="item-price">$29.00</span>
                                        </span>
                                    </span>
                                </li>
                    
                                <li class="cart-row">
                                    <img src="{%static 'assets/img/products/pg.jpg' %}" alt="" />
                                    <span class="item-meta">
                                        <span class="item-name"><a href="#">Css3 Full course learn no..</a></span>
                                        <span class="meta-info">
                                            <span class="item-price">$39.00</span>
                                        </span>
                                    </span>
                                </li>
                    
                                <li class="cart-row">
                                    <img src="{%static 'assets/img/products/pg.jpg' %}" alt="" />
                                    <span class="item-meta">
                                        <span class="item-name"><a href="#">Sass Full course learn no..</a></span>
                                        <span class="meta-info">
                                            <span class="item-price">$125.00</span>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                    
                            <a href="#" class="button primary-button is-raised">Checkout</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="navbar-item is-cart" style="margin-left: -20px;margin-right: 50px;">
                    <div class="cart-button">
                        <i class="fa fa-shopping-cart"></i>
                        <div class="cart-count">
                            <span>3</span>
                        </div>
                    </div>
                
                    <!-- Cart dropdown -->
                    <div class="shopping-cart">
                        <div class="cart-inner">
                
                            <!--Loader-->
                            <div class="navbar-cart-loader is-active">
                                <div class="loader is-loading"></div>
                            </div>
                
                            <div class="shopping-cart-header">
                                <a href="#"><u style="color: blue;">View Cart</u></a>
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text">$193.00</span>
                                </div>
                            </div>
                            <!--end shopping-cart-header -->
                    
                            <ul class="shopping-cart-items">
                                <li class="cart-row">
                                    <img src="{%static 'assets/img/products/pg.jpg' %}" alt="" />
                                    <span class="item-meta">
                                        <span class="item-name"><a href="#">Html5 Full course learn no..</a></span>
                                        <span class="meta-info">
                                            <span class="item-price">$29.00</span>
                                        </span>
                                    </span>
                                </li>
                    
                                <li class="cart-row">
                                    <img src="{%static 'assets/img/products/pg.jpg' %}" alt="" />
                                    <span class="item-meta">
                                        <span class="item-name"><a href="#">Css3 Full course learn no..</a></span>
                                        <span class="meta-info">
                                            <span class="item-price">$39.00</span>
                                        </span>
                                    </span>
                                </li>
                    
                                <li class="cart-row">
                                    <img src="{%static 'assets/img/products/pg.jpg' %}" alt="" />
                                    <span class="item-meta">
                                        <span class="item-name"><a href="#">Sass Full course learn no..</a></span>
                                        <span class="meta-info">
                                            <span class="item-price">$125.00</span>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                    
                            <a href="#" class="button primary-button is-raised">Checkout</a>
                        </div>
                    </div>
                </div>


                <div id="account-dropdown" class="navbar-item is-account drop-trigger has-caret">
                    
                    <div class="small-avatar">
                        <img class="avatar" src="/static{{user.image}}" style="border: 2px solid #ccc;" data-demo-src="{%static 'assets/img/avatars/jenna.png' %}" data-user-popover="0" alt="">
                    </div>
                
                    <div class="nav-drop is-account-dropdown">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span class="username">{{user.first_name}} {{user.last_name}}</span>
                            </div>
                            <div class="nav-drop-body account-items">
                                {% if user.group_id == 2 %}
                                <a href="/account" class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="settings"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Settings</h3>
                                        </div>
                                    </div>
                                </a>
                                {% elif user.group_id == 3 %}
                                    <a href="/teacher/account" class="account-item">
                                        <div class="media">
                                            <div class="icon-wrap">
                                                <i data-feather="settings"></i>
                                            </div>
                                            <div class="media-content">
                                                <h3>Settings</h3>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}

                                <a class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="life-buoy"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Help</h3>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="life-buoy"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>My courses</h3>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="life-buoy"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>messages</h3>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item" href="/logout">
                                    <div class="media media1">
                                        
                                        <div class="icon-wrap">
                                            <i data-feather="power" style="color:rgb(236, 11, 11) !important;"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3 style="color: rgb(236, 11, 11);">Log out</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            <div class="navbar-end">

                <div class="navbar-item"> 
                    <a href="/become" class="button-become-a-teacher button-become-a-teacher-dark button " data-lang="about">Become a teacher</a>
            </div>


                <label id="toggler" class="animated-toggle animated-toggle-is-dark">
                    <input type="checkbox">
                    <span class="toggler">
                        <span class="dark">
                            <i data-feather="moon"></i>
                        </span>
                        <span class="light">
                            <i data-feather="sun"></i>
                        </span>
                    </span>
                </label>


                <div class="navbar-item" >
                <div class="buttons sign-up-in">
                    <a href="/signup" class="button signup-button-is-dark second-button">
                    <p>Sign up</p>
                    </a>
                    <a class="button primary-button login-button-is-dark raised quickview-trigger process-button">
                    <p>Log in</p>
                    </a>
                </div>
                </div>

            </div>
            {% endif %}
        </div>
          
        
    </div>
</div>        
<!-- Main Navbar -->


<!-- Mobile Navbar -->
<nav class="navbar mobile-navbar navbar-dark is-hidden-desktop" aria-label="main navigation">
    <!-- Brand -->
    <div class="navbar-brand">
        <a class="navbar-item2" href="/">
            <img class="mobile-logo" src="{%static 'assets/img/favicon.png' %}" alt="">
        </a>


        <div id="mobile-explorer-trigger" class="navbar-item is-icon">
            <a class="icon-link is-primary">
                <i class="mdi mdi-apps"></i>
            </a>
        </div>

        <!-- Mobile menu toggler icon -->
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>














    <!-- Navbar mobile menu -->
    <div class="navbar-menu">
        <!-- Account -->
        <div class="navbar-item has-dropdown ">
            <div class="navbar-link">
                <img src="{%static 'assets/img/man.jpg' %}" data-demo-src="{%static 'assets/img/avatars/jenna.png' %}" alt="">
                <span class="is-heading">Elzubair Mohammed</span>
            </div>

            <div class="navbar-item">
                <div id="global-search" class="control">
                    <input id="tipue_drop_input" class="input " type="text" placeholder="Search" required>
                    <span id="clear-search" class="reset-search">
                        <i data-feather="x"></i>
                    </span>
                    <span class="search-icon">
                        <i data-feather="search"></i>
                    </span>
            
            
                </div>
            
            </div>
            
            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="user"></i>Profile</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="shopping-cart"></i>Cart</span>
                    <span class="menu-badge">3</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="activity"></i>Feed</span>
                    <span class="menu-badge">87</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="settings"></i>Settings</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="hexagon"></i>Logout</span>
                </a>
                
                    <div class="buttons">
                      <a class="button second-button">
                        <p>Sign up</p>
                      </a>
                      <a class="button primary-button raised quickview-trigger process-button">
                        <p>Log in</p>
                      </a>
                    </div>


            </div>
        </div>
    </div>
</nav>
<!-- Mobile Navbar -->