{% load static %}
<!-- Footer -->
<footer class="footer dark-footer">
    <div class="container">
        <div class="columns">
            <!-- Column -->
            <div class="column is-2">
                <div class="logo-footer">
                    <img src="{% static 'assets/img/logo/booctep.png' %}" alt="" >
                </div>
            </div>
            <!-- Column -->
            <div class="column is-6 is-offset-1">
                <div class="footer-columns columns" style="border-bottom: 1px solid rgb(226, 226, 226);">
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column footer-column-dark">
                            <div class="column" >
                                <a href="/about" style="font-weight: 400;">About us</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column footer-column-dark">
                            <div class="column" >
                                <a href="/faqs" style="font-weight: 400;">FAQs</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column footer-column-dark">
                            <div class="column" >
                                <a href="/help" style="font-weight: 400;">Help</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column footer-column-dark">
                            <div class="column" >
                                <a href="/terms" style="font-weight: 400;">Terms</a>
                            </div>
                        </ul>
                    </div>

                </div>
                <div class="footer-columns columns">
                    <!-- Column -->
                    <div class="column is-offset-2">
                        <ul class="footer-column footer-column-dark" >
                            <div class="column" >
                                <a href="/become" style="font-weight: 400;margin: 0 auto;">Become a teacher</a>
                            </div>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column footer-column-dark">
                            <div class="column" >
                                <a href="/signup" style="font-weight: 400;">My courses</a>
                            </div>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="column is-2 is-offset-1">
                

                <div class="control-language-parent">

                <div class="control-language is-combo is-combo-dark">
                    <div class="combo-box">
                        <div class="box-inner">
                            <div class="combo-item">
                                <i class="combo-item-i fa fa-language"></i>
                                <span class="combo-item-span selected-item" selected="selected">English</span>
                            </div>
                        </div>
                        <div class="box-chevron">
                            <i data-feather="chevron-down" class="box-chevron-i"></i>
                        </div>
                        <div class="box-dropdown" id="directionSwitch">
                            <div class="dropdown-inner has-slimscroll">
                                <ul>
                                    <li class="is-active">
                                        <a href="/" class="flex-box" style="width: 100%;">
                                            <span class="item-icon">
                                            </span>
                                            <span class="item-name translate"  class="" id="en">English</span>
                                            <span class="checkmark">
                                                <i data-feather="check"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ar" class="flex-box" style="width: 100%;">
                                            <span class="item-icon">
                                            </span>
                                            <span class="item-name translate" class="" id="ar">Arabic</span>
                                            <span class="checkmark">
                                                <i data-feather="check"></i>
                                            </span>
                                        </a>                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                </div>


            </div>

        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <p> Made with <span class="fa fa-heart" style="color: red;"></span>&nbsp; By Booctep's Designers.</p>
    </div>
</div> 
<!-- Footer --> 